{% extends "Admin.html" %}


{% block title %}

{% translate %}
Dashboard
{% endtranslate %}

{% endblock title %}


{% block main %}

<div class="row">
    <div class="col-12 col-xl-6">
        <h3 class="mb-3">
            {% translate %}
            Rooms
            {% endtranslate %}
        </h3>
        {% if not deployment.PUBLIC_DEMO %}
        <div class="col mb-4" id="rooms-container"></div>
        {% else %}
        {% include "PublicDemo.html" %}
        {% endif %}
    </div>
    <div class="col-12 col-xl-6">
        <h3 class="mb-3">
            {% translate %}
            Active sessions
            {% endtranslate %}
        </h3>
        {% if not deployment.PUBLIC_DEMO %}
        <div class="col mb-4" id="sessions-container"></div>
        {% else %}
        {% include "PublicDemo.html" %}
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <h3 class="mb-3 mt-4">
            {% translate %}
            Configs
            {% endtranslate %}
        </h3>
        <div class="mb-4" id="configs-container"></div>
    </div>
    <div class="col-12 col-lg-6">
        <h3 class="mb-3 mt-4">
            {% translate %}
            Apps
            {% endtranslate %}
        </h3>
        <div class="mb-4" id="apps-container"></div>
    </div>
</div>

{% endblock main %}


{% block late %}

<script>
    uproot.onStart(() => {
        // From top to bottom
        renderRooms(uproot.vars.rooms, "rooms-container");
        renderSessions(uproot.vars.sessions, "sessions-container");  // server2.py transmits only active sessions to Dashboard
        renderConfigsAppsCards(uproot.vars.configs, "configs-container", "configs");
        renderConfigsAppsCards(uproot.vars.configs, "apps-container", "apps");
    });
</script>

{% endblock late %}
