{% extends "Admin.html" %}


{% block title %}

<div class="d-flex justify-content-between">
    <span>{% translate %}Rooms{% endtranslate %}</span>
    <a class="btn btn-uproot" href="new/">{% translate %}New room{% endtranslate %}</a>
</div>

{% endblock title %}


{% block main %}

<div class="mb-4" id="rooms-container"></div>

{# TODO: Scheduling of sessions (setting date and start time). #}


{% endblock main %}


{% block late %}

<script>
    uproot.onStart(() => {
        renderRooms(uproot.vars.rooms, "rooms-container");
    });
</script>

{% endblock late %}
