{% extends "Admin.html" %}


{% block title %}

<div class="d-flex justify-content-between">
    <span>{% translate %}Rooms{% endtranslate %}</span>
    <a class="btn btn-uproot" href="new/">{% translate %}New room{% endtranslate %}</a>
</div>

{% endblock title %}


{% block main %}

<h3 class="mb-3">
    {% translate %}
    Currently open rooms
    {% endtranslate %}
</h3>
<div class="mb-4 row row-cols-1 row-cols-lg-2" id="rooms-container">
    <div class="col">
        {% translate %}None{% endtranslate %}.
    </div>
</div>

{#
<h3 class="mb-3">
    {% translate %}
    Currently closed rooms
    {% endtranslate %}
</h3>
<div class="mb-4 row row-cols-1 row-cols-lg-2" id="rooms-container">
    <div class="col">
        {% translate %}None{% endtranslate %}.
    </div>
</div>
#}
{# TODO: Scheduling of rooms (setting date and time when “doors open”). #}


{% endblock main %}


{% block late %}

<script>
    uproot.onStart(() => {
        renderRooms(uproot.vars.rooms, "rooms-container");
    });
</script>

{% endblock late %}
