{% extends "Admin.html" %}

{% block title %}

{% translate %}
New room
{% endtranslate %}

{% endblock title %}


{% block main %}

<div class="alert bg-uproot-light border-uproot-light mb-4">
    <p>
        {% translate %}Please note that a room created this way will disappear when you reset the database.{% endtranslate %}
    </p>
    <p class="mb-0">
        {% translate %}Only rooms defined in your <code class="fs-6">main.py</code> file will be automatically recreated after a database reset.{% endtranslate %}
    </p>

</div>

{% set editing = false %}
{% include "RoomSettingsForm.html" %}

<button type="button" class="btn btn-uproot mt-4" onclick="createRoom()">Create room</button>

{% endblock main %}


{% block late %}

<script>
    uproot.onStart(() => {
        const select = renderConfigsApps(uproot.vars.configs, "room-config-select");
        // Disable by default since checkbox is unchecked
        select.disabled = true;
    });

    function createRoom() {
        let nameValid, nameAvailable, labelsValid = true, snameValid = true;

        // Validate room name format
        nameValid = uproot.isValidToken(I("name").value);
        // Validate room name doesn't already exist
        nameAvailable = !uproot.vars.rooms_available.includes(I("name").value);

        // Validate labels if any are entered
        const labelsValue = I("labels").value.trim();
        if (labelsValue) {
            const labels = labelsValue.split("\n").map((a) => a.trim()).filter(l => l.length > 0);
            labelsValid = labels.every(label => label.length <= 128);
        }

        // Validate session name if entered
        const snameValue = I("sname").value.trim();
        if (snameValue) {
            snameValid = uproot.vars.sessions_available.includes(snameValue);
        }

        if (!nameValid) {
            uproot.error(_("The room name you entered is invalid."));
        }
        else if (!nameAvailable) {
            uproot.error(_("The room name you entered already exists."));
        }
        else if (!labelsValid) {
            uproot.error(_("One or more labels exceed the maximum length of 128 characters."));
        }
        else if (!snameValid) {
            uproot.error(_("The session you entered does not exist."));
        }
        else {
            // Disable config select and uncheck open if not using config
            if (!I("use_config").checked) {
                I("configs-apps-select").disabled = true;
                I("open").checked = false;
            }
            document.forms[0].submit();
        }
    }
</script>

{% endblock late %}
