{% extends "Admin.html" %}


{% block title %}

{% translate %}
Server status
{% endtranslate %}

{% endblock title %}


{% block main %}

<p class="text-danger fw-bold">Not yet implemented (TODO)</p>

<p>
<ul>
    <li>Current size of the database?</li>
    <li>Info about the most recent version?</li>
</ul>
</p>

<h3 class="mt-5">{% translate %}Download database dump{% endtranslate %}</h3>

<p class="text-muted">
    {% translate %}
    This is a complete machine-readable record of all data. It may be re-imported using
    <code>python main.py restore</code>.
    {% endtranslate %}
</p>

<a class="btn btn-lg btn-uproot" href="../dump/">
    {% translate %}
    Download
    {% endtranslate %}
</a>

<h3 class="mt-5">{% translate %}Python version{% endtranslate %}</h3>

<p class="font-monospace">{{ versions.python }}</p>

<h3 class="mt-5">{% translate %}uproot version{% endtranslate %}</h3>

<p class="font-monospace">{{ versions.uproot }}</p>

<h3 class="mt-5">{% translate %}Installed packages{% endtranslate %}</h3>

<p class="text-muted">
    {% translate %}
    Each session also stores which packages were installed when it was created. See <code>session.packages</code>.
    {% endtranslate %}
</p>

<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">{% translate %}Package{% endtranslate %}</th>
            <th scope="col">{% translate %}Version{% endtranslate %}</th>
        </tr>
    </thead>
    <tbody class="font-monospace">
        {% for pkg, version in packages %}
        <tr {% if pkg=="uproot-science" %} class="table-active" {% endif %}>
            <td>{{ pkg }}</td>
            <td>{{ version }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock main %}


{% block late %}

{% endblock late %}