{% extends "Admin.html" %}


{% block title %}

<div class="d-flex justify-content-between">
    <span>{% translate %}All sessions{% endtranslate %}</span>
    <a class="btn btn-uproot" href="new/">{% translate %}New session{% endtranslate %}</a>
</div>

{% endblock title %}


{% block main %}

<h3 class="mb-3">
    {% translate %}
    Active sessions
    {% endtranslate %}
</h3>
<div class="mb-4 row row-cols-1 row-cols-lg-2" id="sessions-active-container">
    <div class="col">
        {% translate %}None{% endtranslate %}.
    </div>
</div>

<h3 class="mb-3">
    {% translate %}
    Inactive sessions
    {% endtranslate %}
</h3>
<div class="mb-4 row row-cols-1 row-cols-lg-2" id="sessions-inactive-container">
    <div class="col">
        {% translate %}None{% endtranslate %}.
    </div>
</div>

{% endblock main %}


{% block late %}

<script>
    uproot.onStart(() => {
        const active = Object.values(uproot.vars.sessions).filter((s) => s.active);
        const inactive = Object.values(uproot.vars.sessions).filter((s) => !s.active);

        renderSessions(active, "sessions-active-container");
        renderSessions(inactive, "sessions-inactive-container");
    });
</script>

{% endblock late %}
