{% extends "Admin.html" %}

{% block title %}

{% translate %}
New session
{% endtranslate %}

{% endblock title %}


{% block titlearea %}

<h2 id="uproot-title" class="fw-semibold my-4">{% translate %}New session{% endtranslate %} <a class="text-body-tertiary link-underline-opacity-0" href="https://uproot.science/running/sessions/" target="_blank" title="{% translate %}Documentation{% endtranslate %}" aria-label="{% translate %}Documentation{% endtranslate %}"><i class="bi bi-book fs-5"></i></a></h2>

{% endblock titlearea %}


{% block main %}

<script>
    const defaultConfig = uproot.getParam("config");
</script>

{% include "CreateSession.html" %}

<button type="button" class="btn btn-uproot mt-3" onclick="createSession()">Create session</button>

{% endblock main %}
