{% extends "Admin.html" %}

{% block titlearea %}

<div class="align-center d-flex flex-wrap justify-content-between my-4" id="title-container">
    <h2 id="uproot-title" class="fw-semibold">
        {% translate %}
        Session
        {% endtranslate %}
        <a href="../" class="font-monospace link-subtle">{{ sname }}</a>
        <span class="fw-light text-secondary">&gt; {% translate %}Download data{% endtranslate %}</span>
    </h2>
    <a class="btn btn-uproot my-1" href="../viewdata/">{% translate %}View data{% endtranslate %}</a>
</div>

{% endblock titlearea %}


{% block main3 %}

<h3 class="mb-3">{% translate %}Main data{% endtranslate %}</h3>

<form method="get" action="get/" target="_blank">
    <div class="row">
        <!-- Column 1 -->
        <div class="col-12 col-xl-4 mb-4">
            <h4 class="mb-3">
                {% translate %}Format{% endtranslate %}
            </h4>
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="format" id="option1" value="ultralong">
                <label class="form-check-label" for="option1">{% translate %}Ultra Long{% endtranslate %}</label>
                <div class="form-text mt-2 text-secondary">
                    {% translate %}
                    Raw event log where every single change to any field becomes its own row.
                    {% endtranslate %}
                </div>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="format" id="option2" value="sparse">
                <label class="form-check-label" for="option2">{% translate %}Sparse{% endtranslate %}</label>
                <div class="form-text mt-2 text-secondary">
                    {% translate %}
                    Each row represents a change, with every possible field as its own column: most cells are empty, and only the fields that actually changed at that timestamp get filled in.
                    {% endtranslate %}
                </div>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="format" id="option3" value="latest" checked>
                <label class="form-check-label" for="option3">{% translate %}Latest{% endtranslate %} <span class="badge rounded-pill bg-uproot ms-1">Beta</span></label>
                <div class="form-text mt-2 text-secondary">
                    {% translate %}
                    One row per player showing their final state: just the last/current value of every field.
                    {% endtranslate %}
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="format" id="option4" value="latest">
                <label class="form-check-label" for="option4">{% translate %}Latest &times; Field(s){% endtranslate %} <span class="badge rounded-pill bg-uproot ms-1">Beta</span></label>
                <div class="form-text mt-2 text-secondary">
                    {% translate %}
                    One row per player per specified grouping (like per round): shows what each participant’s state was at the end of each round, condition, or other grouping you specify.
                    {% endtranslate %}
                </div>
                <div id="customInputs" class="my-4" style="display: none;">
                    <div id="inputContainer">
                        <div class="input-group mb-2">
                            <div class="form-floating">
                                <input type="text" class="font-monospace form-control" name="gvar" placeholder="{% translate %}e.g.,{% endtranslate %} round">
                                <label for="gvar">{% translate %}Grouping variable{% endtranslate %} ({% translate %}e.g.,{% endtranslate %} <span class="font-monospace">round</span>)</label>
                            </div>
                            <button type="button" class="btn btn-outline-danger remove-input">{% translate %}Remove{% endtranslate %}</button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-uproot btn-sm mb-2" id="addInput">
                        <i class="bi bi-plus-lg"></i> {% translate %}Add grouping variable{% endtranslate %}
                    </button>
                </div>
            </div>
        </div>
        <!-- Column 2 -->
        <div class="col-12 col-xl-4 mb-4">
            <h4 class="mb-3">
                {% translate %}Filters{% endtranslate %}
            </h4>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="apply-filters" name="filters" value="1" checked>
                <label class="form-check-label" for="apply-filters">
                    {% translate %}Apply reasonable filters{% endtranslate %}
                </label>
                <div class="form-text mt-2 text-secondary">
                    {% translate %}
                    Excludes, renames or transforms uproot-internal fields to provide cleaner data focused on experimental variables and participant responses.
                    {% endtranslate %}
                </div>
            </div>
        </div>
        <!-- Column 3 -->
        <div class="col-12 col-xl-4 mb-4">
            <h4 class="mb-3">
                {% translate %}File type{% endtranslate %}
            </h4>
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" id="filetype-csv" name="filetype" value="csv" checked>
                <label class="form-check-label" for="option1">CSV</label>
                <div class="form-text mt-2 text-secondary">
                    {% translate %}CSV is the better choice for spreadsheet applications.{% endtranslate %}
                </div>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" id="filetype-json" name="filetype" value="json">
                <label class="form-check-label" for="option1">JSON</label>
                <div class="form-text mt-2 text-secondary">
                    {% translate %}JSON is recommended for analysis.{% endtranslate %}
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-uproot">{% translate %}Download{% endtranslate %}</button>
</form>

<hr class="mt-5">

<h3 class="mt-5 mb-3">{% translate %}Other data{% endtranslate %}</h3>

<a class="btn btn-outline-uproot" href="../page-times/">{% translate %}Page times{% endtranslate %}</a>

{% endblock main3 %}


{% block late %}

<script>
    const option4 = document.getElementById("option4");
    const customInputs = document.getElementById("customInputs");
    const addButton = document.getElementById("addInput");
    const inputContainer = document.getElementById("inputContainer");

    document.querySelectorAll("input[name='format']").forEach(radio => {
        radio.addEventListener("change", () => {
            if (option4.checked) {
                customInputs.style.display = "block";
            } else {
                customInputs.style.display = "none";
                document.querySelectorAll("input[name='gvar']").forEach(input => {
                    input.value = "";
                });
            }
        });
    });

    addButton.addEventListener("click", () => {
        const inputGroup = document.createElement("div");
        inputGroup.className = "input-group mb-2";
        inputGroup.innerHTML = /* SAFE */ `
            <div class="form-floating">
                <input type="text" class="font-monospace form-control" name="gvar" placeholder="grouping variable">
                <label for="gvar">{% translate %}Grouping variable{% endtranslate %}</label>
            </div>
            <button type="button" class="btn btn-outline-danger remove-input">${_("Remove")}</button>
        `;
        inputContainer.appendChild(inputGroup);
    });

    inputContainer.addEventListener("click", (e) => {
        if (e.target.classList.contains("remove-input")) {
            if (inputContainer.children.length > 1) {
                e.target.parentElement.remove();
            }
        }
    });
</script>

{% endblock late %}
