{% extends "Admin.html" %}

{% block titlearea %}

<div class="d-flex justify-content-between my-4">
    <h2 id="uproot-title" class="fw-semibold">
        {% translate %}Session{% endtranslate %}
        <a href="../" class="font-monospace link-subtle">{{ sname }}</a>
        <span class="fw-light text-secondary">&gt; {% translate %}Data{% endtranslate %}</span>
    </h2>
    <div class="btn-group my-1 mx-2" id="buttongroup-normal-table">
        <button type="button" class="btn btn-outline-uproot" onclick="refreshData()">{% translate %}Refresh{% endtranslate %}</button>
        <button type="button" class="btn btn-outline-uproot" onclick="fullScreenTable()">{% translate %}Full-screen table{% endtranslate %}</button>
    </div>
    <div id="buttons-normal-table">
        <a class="btn btn-uproot my-1 me-2" href="../data/">{% translate %}Download data{% endtranslate %}</a>
        {#<a class="btn btn-uproot mb-2" href="../monitor/">{% translate %}Monitor{% endtranslate %}</a>#}
    </div>
    <div class="btn-group d-none my-1 me-2" id="buttons-fullscreen-table">
        <button type="button" class="btn btn-outline-uproot" onclick="refreshData()">{% translate %}Refresh{% endtranslate %}</button>
        <button type="button" class="btn btn-outline-uproot" onclick="normalTable()">{% translate %}Normal table{% endtranslate %}</button>
    </div>
</div>

{% endblock titlearea %}


{% block head %}

<style>
    #data-table {
        font-family: var(--bs-font-monospace);
        height: 100% !important;
    }
    #data-table input[type=search] {
        font-size: small !important;
        margin-top: 2px;
    }
    #data-table .tabulator-frozen-left {
        border: 0px;
    }
    #data-table .tabulator-row {
        background-color: white;
    }
    #data-table .tabulator-row:hover {
        background-color: #eeeeee;
    }
    /* Sticky column styling for Tabulator */
    .tabulator-col[aria-sort="ascending"] .tabulator-col-content, .tabulator-col[aria-sort="descending"] .tabulator-col-content {
        background-color: rgba(var(--bs-uproot-rgb), 0.25) !important;
    }
    .tabulator-cell[tabulator-field="id"], .tabulator-col[tabulator-field="id"] {
        color: var(--bs-uproot);
    }
    .tabulator-cell[tabulator-field="id"], .tabulator-cell[tabulator-field="label"], .tabulator-cell[tabulator-field="player"] {
        font-weight: bolder;
    }
    .tabulator-col-content {
        background-color: var(--bs-uproot-bg-light);
        border-bottom: 1px solid var(--bs-uproot-border-subtle);
        border-right: 1px dashed var(--bs-uproot-border-subtle);
    }
    .tabulator-header {
        border-bottom: 0px !important;
    }
    .h-fullscreen-title {
        height: 2.5vh;
    }
    .h-fullscreen-table {
        height: 94.5vh;
    }
    .start-fullscreen {
        left: 0.65vw;
    }
    .w-fullscreen {
        width: 98.7vw;
    }
    .modal .modal-body textarea {
        font-family: var(--bs-font-monospace);
    }
</style>

{% endblock head %}


{% block main %}

<div class="mt-0 table-sticky-outer" id="tableContainer">
    <div class="container p-0" id="tableMain">
        <div class="border-bottom border-top border-uproot-subtle table-sticky-inner" id="tableOuter">
        </div>
    </div>
</div>

{% endblock main %}


{% block late %}

<script src="{{ internalstatic('viewdata.js') }}"></script>
<script>
    uproot.onStart(() => initializeTable());

    function fullScreenTable() {
        I("uproot-footer").classList.add("d-none");
        I("uproot-navbar").classList.add("d-none");
        I("tableContainer").setAttribute("class", "position-absolute h-fullscreen-table start-fullscreen w-fullscreen");
        I("buttongroup-normal-table").classList.add("d-none");
        I("buttons-normal-table").classList.add("d-none");
        I("buttons-fullscreen-table").classList.remove("d-none");
    }

    function normalTable() {
        I("uproot-footer").classList.remove("d-none");
        I("uproot-navbar").classList.remove("d-none");
        I("tableContainer").setAttribute("class", "mt-0 table-sticky-outer");
        I("tableOuter").classList.remove("mx-3");
        I("buttons-fullscreen-table").classList.add("d-none");
        I("buttongroup-normal-table").classList.remove("d-none");
        I("buttons-normal-table").classList.remove("d-none");
    }
</script>

{% endblock late %}
