{% extends "Admin.html" %}


{% block title %}

{% translate %}
Session
{% endtranslate %}
<a href="../" class="link-subtle">{{ sname }}</a>:
{% translate %}
Multi View
{% endtranslate %}

{% endblock title %}


{% block head %}

<style>
    footer, #uproot-title, .navbar {
        display: none;
    }
</style>

{% endblock head %}


{% block late %}

<script src="{{ internalstatic('multiview.js') }}"></script>
<script>
uproot.onStart(() => {
    const urls = Object.keys(uproot.vars.info).map((uname) => `${uproot.vars.root}/p/${uproot.vars.sname}/${uname}`);
    createIframes(urls);
});
</script>

{% endblock late %}
