{% extends "Admin.html" %}


{% block title %}

<div class="d-flex justify-content-between">
    <span>
        {% translate %}Session{% endtranslate %}
        <a href="../" class="font-monospace link-subtle">{{ sname }}</a>
        <span class="fw-light text-secondary">&gt; {% translate %}Monitor{% endtranslate %}</span>
    </span>
    <div class="btn-group mb-2 me-2" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-uproot" onclick="mmodal('manage')">
            {% translate %}Manage subjects{% endtranslate %}
        </button>
        <button type="button" class="btn btn-outline-uproot" onclick="mmodal('insert')">
            {% translate %}Insert fields{% endtranslate %}
        </button>
        <button type="button" class="btn btn-outline-uproot" onclick="mmodal('adminmessage_send')">
            {% translate %}Send message{% endtranslate %}
        </button>
    </div>
    <div>
        <a class="btn btn-uproot mb-2" href="../viewdata/">View data</a>
    </div>
</div>

{% endblock title %}


{% block head %}

<style>
    /* Color of `id` column */
    #players.table-sticky tr > td:nth-of-type(2),
    #players.table-sticky tr > th:nth-of-type(2) {
        color: var(--bs-uproot);
    }
    /* Sticky `player` column */
    #players.table-sticky tr > th:nth-of-type(4) {
        position: sticky;
        z-index: 99;
    }
    #players.table-sticky tr > td:nth-of-type(4) {
        font-weight: bolder;
        position: sticky;
        z-index: 97;
    }
    /* Position to stick at for columns 2, 3, 4 */
    #players.table-sticky tr > td:nth-of-type(2),  /* `id` */
    #players.table-sticky tr > th:nth-of-type(2) {
        font-family: var(--bs-font-monospace);
        left: 1.5em;
    }
    #players.table-sticky tr > td:nth-of-type(3),  /* `label` */
    #players.table-sticky tr > th:nth-of-type(3) {
        font-family: var(--bs-font-monospace);
        left: 4.5em;
    }
    #players.table-sticky tr > td:nth-of-type(4),  /* `player` */
    #players.table-sticky tr > th:nth-of-type(4) {
        font-family: var(--bs-font-monospace);
        left: 7.5em;
    }
    #players.table-sticky tr > td:nth-of-type(5),  /* `page` */
    #players.table-sticky tr > th:nth-of-type(5) {
        font-family: var(--bs-font-monospace);
    }
</style>

{% endblock head %}


{% block main %}

<div class="mt-3 no-active table-sticky-outer">
    <div class="border-bottom border-top border-uproot-subtle container p-0 table-sticky-inner">
        <table class="align-middle mt-0 table table-hover table-responsive table-sticky text-nowrap" id="players">
            <thead class="border-bottom border-uproot-subtle"></thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="manage-modal" tabindex="-1" aria-labelledby="manage-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manage-modalLabel">
                    {% translate %}
                    Manage subjects
                    {% endtranslate %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    {% translate %}
                    You have selected <b><span class="pcount"></span> subject(s)</b>.
                    {% endtranslate %}
                </p>
                <div class="mb-1">
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="manage" id="advance_by_one" value="advance_by_one">
                        <label class="form-check-label" for="advance_by_one">
                            {% translate %}
                            Advance by one page
                            {% endtranslate %}
                        </label><br>
                        <span class="form-text text-muted">
                            {% translate %}
                            If the next page is not shown, it will be skipped.
                            {% endtranslate %}
                        </span>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="manage" id="reload" value="reload">
                        <label class="form-check-label" for="reload">
                            {% translate %}
                            Reload players’ pages
                            {% endtranslate %}
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="manage" id="revert_by_one" value="revert_by_one">
                        <label class="form-check-label" for="revert_by_one">
                            {% translate %}
                            Revert by one page
                            {% endtranslate %}
                        </label><br>
                        <span class="form-text text-muted">
                            {% translate %}
                            If the previous page was not shown, this will return to the current page.
                            {% endtranslate %}
                        </span>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="manage" id="put_to_end" value="put_to_end">
                        <label class="form-check-label" for="put_to_end">
                            {% translate %}
                            Put to end
                            {% endtranslate %}
                        </label><br>
                        <span class="form-text text-muted">
                            {% translate %}
                            This terminates the study for the selected subject(s).
                            {% endtranslate %}
                        </span>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="manage" id="mark_dropout" value="mark_dropout">
                        <label class="form-check-label" for="mark_dropout">
                            {% translate %}
                            Mark as dropout
                            {% endtranslate %}
                        </label><br>
                        <span class="form-text text-muted">
                            {% translate %}
                            Within few seconds, this will run all dropout handlers registered with <code>watch_for_dropout()</code>.
                            {% endtranslate %}
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    {% translate %}
                    Close
                    {% endtranslate %}
                </button>
                <button type="button" class="btn btn-danger" onclick="actually_manage()">
                    {% translate %}
                    Save changes
                    {% endtranslate %}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="insert-modal" tabindex="-1" aria-labelledby="insert-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="insert-modalLabel">
                    {% translate %}
                    Insert fields
                    {% endtranslate %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    {% translate %}
                    You have selected <b><span class="pcount"></span> subject(s)</b>.
                    {% endtranslate %}
                </p>

                <div class="mb-3">
                    <textarea class="form-control font-monospace" id="json-input" rows="3">{}</textarea>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="manage" id="reload2" value="reload">
                    <label class="form-check-label" for="reload2">
                        {% translate %}
                        Reload players’ pages
                        {% endtranslate %}
                    </label>
                </div>

                <p>
                    {% translate %}
                    Please enter a valid JSON <i>object</i>. For example, this inserts the fields <code>foo</code> (an integer) and <code>bar</code> (a list):
                    {% endtranslate %}<br>
                    <code>{ "foo": -42, "bar": [10, 20, 30] }</code>
                </p>

                <p class="text-muted">
                    {% translate %}
                    Inserting fields is not considered good practice. Use this feature only when testing or in emergencies. Manual field insertions are irrevocably recorded as such in the database.
                    {% endtranslate %}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    {% translate %}
                    Close
                    {% endtranslate %}
                </button>
                <button type="button" class="btn btn-danger" onclick="actually_insert()">
                    {% translate %}
                    Insert fields
                    {% endtranslate %}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="adminmessage_send-modal" tabindex="-1" aria-labelledby="adminmessage_send-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminmessage_send-modalLabel">
                    {% translate %}
                    Send message
                    {% endtranslate %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    {% translate %}
                    You have selected <b><span class="pcount"></span> subject(s)</b>.
                    {% endtranslate %}
                </p>

                <div class="mb-3">
                    <textarea class="form-control" id="adminmsg" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    {% translate %}
                    Close
                    {% endtranslate %}
                </button>
                <button type="button" class="btn btn-danger" onclick="actually_adminmessage_send()">
                    {% translate %}
                    Send message
                    {% endtranslate %}
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock main %}


{% block late %}

<script src="{{ internalstatic('tables.js') }}"></script>
<script src="{{ internalstatic('monitor.js') }}"></script>

{% endblock late %}
