{% extends "Admin.html" %}


{% block titlearea %}

<div class="d-flex justify-content-between my-4">
    <h2 id="uproot-title" class="fw-semibold">
        {% translate %}Session{% endtranslate %}
        <span class="font-monospace">{{ sname }}</span>
    </h2>
    <div>
        <button class="btn btn-outline-uproot my-1" onclick="openMultiview()" type="button">Multiview</button>
        <div class="btn-group ms-2 my-1">
            <a class="btn btn-uproot" href="viewdata/">{% translate %}View data{% endtranslate %}</a>
            <button type="button" class="btn btn-uproot dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="viewdata/">{% translate %}View data{% endtranslate %}</a></li>
                <li><a class="dropdown-item" href="data/">{% translate %}Download data{% endtranslate %}</a></li>
            </ul>
        </div>
        {#<a class="btn btn-uproot mb-2" href="monitor/">Monitor</a>#}
    </div>
</div>

{% endblock titlearea %}


{% block head %}

<style>
    .btn-group-sm {
        padding-bottom: 0pt !important;
        padding-top: 0pt !important;
        height: 31px;
    }

    /* Color visited links so that it is clear during debuggin which participat URL one has already opened */
    .player-url:visited, .player-name .link-subtle:visited {
        color: var(--bs-uproot) !important;
    }
    .player-url:visited:hover, .player-name .link-subtle:visited:hover {
        color: var(--bs-uproot-dark) !important;
    }

    /* Tabulator styling for monitor table */
    #data-table {
        font-family: var(--bs-font-monospace);
        height: 100% !important;
    }
    #data-table .tabulator-frozen-left {
        border: 0px;
    }
    #data-table .tabulator-row {
        background-color: white;
    }
    #data-table .tabulator-row:hover {
        background-color: #eeeeee;
    }
    #data-table .tabulator-row.tabulator-selected {
        background-color: var(--bs-uproot-bg-light) !important;
    }

    .table-sticky-outer {
        height: 89vh;
    }
    .table-sticky-outer-full-width {
        margin-left: 50%;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        width: 99vw;
        transform: translate(-50%, 0%);
    }

    .tabulator-col-content, .tabulator-cell {
        padding: 11px !important;
    }
    /* Sticky column styling for Tabulator */
    .tabulator-col[aria-sort="ascending"] .tabulator-col-content, .tabulator-col[aria-sort="descending"] .tabulator-col-content {
        background-color: rgba(var(--bs-uproot-rgb), 0.25) !important;
    }
    .tabulator-cell[tabulator-field="id"], .tabulator-col[tabulator-field="id"] {
        color: var(--bs-uproot);
    }
    .tabulator-cell[tabulator-field="id"], .tabulator-cell[tabulator-field="player"] {
        font-weight: bolder;
    }
    .tabulator-col-content {
        background-color: var(--bs-uproot-bg-light);
        border-bottom: 1px solid var(--bs-uproot-border-subtle);
        border-right: 1px dashed var(--bs-uproot-border-subtle);
        height: 100%;
    }
    .tabulator-cell {
        border-left: none !important;
    }
    .tabulator-col {
        border-left: none !important;
    }
    .tabulator-header {
        border-bottom: 0px !important;
    }
    .tabulator-headers {
        vertical-align: bottom !important;
    }
    /* Sticky row headers for first 4 columns */
    .tabulator-headers > div:nth-of-type(1),
    .tabulator-headers > div:nth-of-type(2),
    .tabulator-headers > div:nth-of-type(3),
    .tabulator-headers > div:nth-of-type(4) {
        position: sticky !important;
        z-index: 99;
    }
    .tabulator-row > div:nth-of-type(1),
    .tabulator-row > div:nth-of-type(2),
    .tabulator-row > div:nth-of-type(3),
    .tabulator-row > div:nth-of-type(4) {
        font-weight: bolder;
        position: sticky !important;
        z-index: 97;
    }
    /* Position to stick at for column 1 */
    .tabulator-headers > div:nth-of-type(1),
    .tabulator-row > div:nth-of-type(1) {
        left: 0em !important;
    }
    /* Position to stick at for column 2 */
    .tabulator-headers > div:nth-of-type(2),
    .tabulator-row > div:nth-of-type(2) {
        left: 2.5em !important;
    }
    /* Position to stick at for column 3 */
    .tabulator-headers > div:nth-of-type(3),
    .tabulator-row > div:nth-of-type(3) {
        left: 6em !important;
    }
    /* Position to stick at for column 4 */
    .tabulator-headers > div:nth-of-type(4),
    .tabulator-row > div:nth-of-type(4) {
        left: 12em !important;
    }

    /* Heartbeat animation */
    .heartbeat {
        transition: color 0.3s ease;
    }
    .heartbeat.active {
        color: #28a745; /* Bootstrap success green */
    }
    .not-yet-implemented {
        color: red;
        font-weight: bold;
    }
    a .not-yet-implemented {
        display: none;
    }
    a:hover .not-yet-implemented {
        display: block;
    }
</style>

{% endblock %}


{% block main %}

<div class="row">
    <div class="col-12 col-xl-3 col-lg-6 mb-4">
        <div class="card h-100">
            <div class="card-body pb-2">
                <h5 class="border-bottom fw-semibold mb-3 mt-0 pb-3">{% translate %}Associated room{% endtranslate %}</h5>
                {% if session.room is none %}
                <p class="mb-2">{% translate %}This session is not associated with a room{% endtranslate %}.</p>
                {% else %}
                <p class="mb-2">{% translate %}This session is associated with a room{% endtranslate %}:</p>
                <p><a class="fs-4 font-monospace link-subtle mb-3" href="../../room/{{ session.room }}/">{{ session.room }}</a></p>
                <p class="mb-2">
                    <button type="button" class="btn btn-danger btn-sm" onclick="disassociate()">{% translate %}Dissociate room and session{% endtranslate %}</button>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-3 col-lg-6 mb-4">
        <div class="card h-100">
            <div class="card-body pb-2">
                <h5 class="border-bottom fw-semibold mb-3 mt-0 pb-3">{% translate %}Essential information{% endtranslate %}</h5>
                <div class="d-flex justify-content-between mb-3">
                    {% if session.description is none %}
                    <h6 class="fw-semibold mb-2 mt-0 pb-0">{% translate %}Description{% endtranslate %}</h6>
                    <div>
                        <button type="button" class="btn btn-sm btn-outline-uproot" onclick="setDescription()">{% translate %}Add{% endtranslate %}</button>
                    </div>
                    {% else %}
                    <div>
                        <h6 class="fw-semibold mb-2 mt-0 pb-0">{% translate %}Description{% endtranslate %}</h6>
                        <p class="mb-2">{{ session.description }}</p>
                    </div>
                    <div>
                        <button type="button" class="btn btn-sm btn-outline-uproot" onclick="setDescription()">{% translate %}Change{% endtranslate %}</button>
                    </div>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div>
                        <h6 class="fw-semibold mb-2 mt-0 pb-0">{% translate %}Config{% endtranslate %}</h6>
                        <p class="font-monospace mb-2">{{ session.config }}</p>
                    </div>
                    <div>
                        <a class="btn btn-sm btn-uproot h-auto" href="../../sessions/new/?config={{ session.config }}">{% translate %}New{% endtranslate %}</a>
                    </div>
                </div>
                <h6 class="fw-semibold mb-2 mt-0 pb-0">{% translate %}Apps{% endtranslate %}</h6>
                <p class="font-monospace">{{ " → ".join(session.apps) }}</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-3 col-lg-6 mb-4">
        <div class="card h-100">
            <div class="card-body pb-2">
                <h5 class="border-bottom fw-semibold mt-0 pb-3">{% translate %}Players{% endtranslate %}</h5>
                <div class="d-flex justify-content-between mb-3 mt-3">
                    <div>
                        <p class="d-table-row">
                            <span class="d-table-cell pe-4 text-nowrap">{% translate %}Total{% endtranslate %}</span>
                            <span class="d-table-cell text-end">{{ len(session.players) }}</span>
                        </p>
                        <p class="d-table-row">
                            <span class="d-table-cell pe-4 text-nowrap">{% translate %}Started{% endtranslate %}</span>
                            <span class="d-table-cell text-end" id="started-count">?</span>
                        </p>
                    </div>
                    <div>
                        <a class="btn btn-sm btn-uproot" href="#">{% translate %}Add players{% endtranslate %}<span class="not-yet-implemented">Not yet implemented</span></a>  {# TODO #}
                    </div>
                </div>
                <h6 class="fw-semibold mb-2">{% translate %}Player URLs{% endtranslate %}</h6>
                <p class="mb-2">{% translate %}The sessionwide URL is{% endtranslate %}:</p>
                <ul>
                    <li>
                        <a class="link-subtle player-url"
                            href="../../../s/{{ sname }}/{{ session._uproot_secret }}/" target="_blank">
                            {{ root }}/s/{{ sname }}/{{ session._uproot_secret}}/
                        </a>
                    </li>
                </ul>
                {% if len(info) > 0 %}
                <p class="mb-1">
                    <button class="btn btn-sm btn-outline-uproot" data-bs-target="#urlModal" data-bs-toggle="modal" type="button">
                        {% translate %}Show individual URLs{% endtranslate %}
                    </button>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-3 col-lg-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="border-bottom fw-semibold mb-3 mt-0 pb-3">{% translate %}Actions{% endtranslate %}</h5>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-uproot btn-sm mb-1 position-relative text-start w-75" onclick="flipTesting()">
                        <i class="bi bi-bandaid"></i>&nbsp;
                        {% if session.testing %}
                        {% translate %}
                        Disable testing
                        {% endtranslate %}
                        {% else %}
                        {% translate %}
                        Enable testing
                        {% endtranslate %}
                        {% endif %}
                        <i class="bi bi-question-circle position-absolute end-0 me-2"
                        data-bs-toggle="popover"
                        data-bs-trigger="hover"
                        data-bs-content="{% if session.testing %}{% translate %}This will hide this session’s testing elements for all except admins.{% endtranslate %}{% else %}{% translate %}This will show this session’s testing elements for everyone.{% endtranslate %}{% endif %}"
                        onclick="event.stopPropagation()"></i>
                    </button>
                    <button type="button" class="btn btn-outline-uproot btn-sm position-relative text-start w-75" onclick="flipActive()">
                        <i class="bi bi-toggle-{% if session.active %}on{% else %}off{% endif %}"></i>&nbsp;
                        {% if session.active %}
                        {% translate %}
                        Mark as inactive
                        {% endtranslate %}
                        {% else %}
                        {% translate %}
                        Mark as active
                        {% endtranslate %}
                        {% endif %}
                        <i class="bi bi-question-circle position-absolute end-0 me-2"
                        data-bs-toggle="popover"
                        data-bs-trigger="hover"
                        data-bs-content="{% if session.active %}{% translate %}This has purely cosmetical consequences: It moves this session to the 'Inactive sessions' section on the 'Sessions' page.{% endtranslate %}{% else %}{% translate %}This has purely cosmetical consequences: It moves this session to the 'Active sessions' section on the 'Sessions' page.{% endtranslate %}{% endif %}"
                        onclick="event.stopPropagation()"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Player monitor -->

<div class="align-items-center d-flex justify-content-between mb-0 pb-2">
    <h3 class="fw-semibold me-3 mb-3 mt-2">{% translate %}Player monitor{% endtranslate %}</h3>
        <button type="button" class="btn btn-outline-uproot" onclick="toggleTableWidth()">
            <span class="d-block" id="full-width-text">{% translate %}Full-width table{% endtranslate %}</span>
            <span class="d-none" id="normal-width-text">{% translate %}Normal-width table{% endtranslate %}</span>
        </button>
    <div class="btn-group mb-3 ms-2 mt-2">
        <button type="button" class="btn btn-uproot" onclick="mmodal('manage')">
            {% translate %}Manage players{% endtranslate %}
            </button>
        <button type="button" class="btn btn-uproot dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu">
            <li>
                <span class="dropdown-item" onclick="mmodal('manage')" role="button">
                    {% translate %}Manage players{% endtranslate %}
                </span>
            </li>
            <li>
                <span class="dropdown-item" onclick="mmodal('insert')" role="button">
                    {% translate %}Insert fields{% endtranslate %}
                </span>
            </li>
            <li>
                <span class="dropdown-item" onclick="mmodal('adminmessage_send')" role="button">
                    {% translate %}Send message{% endtranslate %}
                </span>
            </li>
        </ul>
    </div>
</div>
<div class="mt-0 table-sticky-outer" id="tableContainer">
    <div class="container p-0" id="tableMain">
        <div class="border-bottom border-top border-uproot-subtle table-sticky-inner" id="tableOuter">
        </div>
    </div>
</div>

<!-- Modal to manage players -->

<div class="modal fade" id="manage-modal" tabindex="-1" aria-labelledby="manage-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manage-modalLabel">
                    {% translate %}
                    Manage players
                    {% endtranslate %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    {% translate %}You have selected{% endtranslate %}
                    <b><span class="pcount"></span>
                    {% translate %}player(s){% endtranslate %}</b>.
                </p>
                <div class="mb-1">
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="manage" id="advance_by_one" value="advance_by_one">
                        <label class="form-check-label" for="advance_by_one">
                            {% translate %}
                            Advance by one page
                            {% endtranslate %}
                        </label><br>
                        <span class="form-text text-muted">
                            {% translate %}
                            If the next page is not shown, it will be skipped.
                            {% endtranslate %}
                        </span>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="manage" id="reload" value="reload">
                        <label class="form-check-label" for="reload">
                            {% translate %}
                            Reload players’ pages
                            {% endtranslate %}
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="manage" id="revert_by_one" value="revert_by_one">
                        <label class="form-check-label" for="revert_by_one">
                            {% translate %}
                            Revert by one page
                            {% endtranslate %}
                        </label><br>
                        <span class="form-text text-muted">
                            {% translate %}
                            If the previous page was not shown, this will return to the current page.
                            {% endtranslate %}
                        </span>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="manage" id="put_to_end" value="put_to_end">
                        <label class="form-check-label" for="put_to_end">
                            {% translate %}
                            Put to end
                            {% endtranslate %}
                        </label><br>
                        <span class="form-text text-muted">
                            {% translate %}
                            This terminates the study for the selected subject(s).
                            {% endtranslate %}
                        </span>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="manage" id="mark_dropout" value="mark_dropout">
                        <label class="form-check-label" for="mark_dropout">
                            {% translate %}
                            Mark as dropout
                            {% endtranslate %}
                        </label><br>
                        <span class="form-text text-muted">
                            {% translate %}
                            Within few seconds, this will run all dropout handlers registered with
                            {% endtranslate %}
                            <code>watch_for_dropout()</code>.
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    {% translate %}
                    Close
                    {% endtranslate %}
                </button>
                <button type="button" class="btn btn-danger" onclick="actuallyManage()">
                    {% translate %}
                    Save changes
                    {% endtranslate %}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for inserting fields -->

<div class="modal fade" id="insert-modal" tabindex="-1" aria-labelledby="insert-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="insert-modalLabel">
                    {% translate %}
                    Insert fields
                    {% endtranslate %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    {% translate %}
                    You have selected <b><span class="pcount"></span> subject(s)</b>.
                    {% endtranslate %}
                </p>

                <div class="mb-3">
                    <textarea class="form-control font-monospace" id="json-input" rows="3">{}</textarea>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="manage" id="reload2" value="reload">
                    <label class="form-check-label" for="reload2">
                        {% translate %}
                        Reload players’ pages
                        {% endtranslate %}
                    </label>
                </div>

                <p>
                    {% translate %}
                    Please enter a valid JSON <i>object</i>. For example, this inserts the fields <code>foo</code> (an integer) and <code>bar</code> (a list):
                    {% endtranslate %}<br>
                    <code>{ "foo": -42, "bar": [10, 20, 30] }</code>
                </p>

                <p class="text-muted">
                    {% translate %}
                    Inserting fields is not considered good practice. Use this feature only when testing or in emergencies. Manual field insertions are irrevocably recorded as such in the database.
                    {% endtranslate %}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    {% translate %}
                    Close
                    {% endtranslate %}
                </button>
                <button type="button" class="btn btn-danger" onclick="actuallyInsert()">
                    {% translate %}
                    Insert fields
                    {% endtranslate %}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for admin to send message to players -->

<div class="modal fade" id="adminmessage_send-modal" tabindex="-1" aria-labelledby="adminmessage_send-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminmessage_send-modalLabel">
                    {% translate %}
                    Send message
                    {% endtranslate %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    {% translate %}
                    You have selected <b><span class="pcount"></span> subject(s)</b>.
                    {% endtranslate %}
                </p>

                <div class="mb-3">
                    <textarea class="form-control" id="adminmsg" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    {% translate %}
                    Close
                    {% endtranslate %}
                </button>
                <button type="button" class="btn btn-danger" onclick="actuallyAdminmessageSend()">
                    {% translate %}
                    Send message
                    {% endtranslate %}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for player URLs -->

<div class="modal fade" id="urlModal" tabindex="-1" aria-labelledby="urlModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="border-uproot-light modal-content">
        <div class="border-uproot-light modal-header">
            <h5 class="modal-title" id="urlModalLabel">
                {% translate %}Individual player URLs{% endtranslate %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% if len(info) > 0 %}
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th class="fw-semibold ps-0">Player ID</th>
                        <th class="fw-semibold">Player URL</th>
                    </tr>
                </thead>
                <tbody x-data="{}">
                    {% for key in info %}
                    <tr>
                        <td class="ps-0">{{ loop.index0 }}</td>
                        <td>
                            <a class="link-subtle player-url" href="../../../p/{{ sname }}/{{ key }}/" target="_blank"><span x-text="window.location.origin"></span>{{ root }}/p/{{ sname }}/{{ key }}/</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <ol class="mb-3">
            </ol>
            {% endif %}
        </div>
        <div class="border-uproot-light modal-footer justify-content-between">
            <button class="btn btn-outline-uproot btn-sm" onclick="copyURLsToClipboard()" type="button">Copy URLs as plain text</button>
            <span class="fw-300 invisible me-3 text-uproot" id="urls-copied">{% translate %}URLs copied to clipboard{% endtranslate %}.</span>
        </div>
        </div>
    </div>
</div>

{% endblock main %}


{% block late %}

<script>
    function disassociate() {
        uproot.invoke("disassociate", uproot.vars.room, uproot.vars.sname).then(uproot.reload);
    }
    function flipActive() {
        uproot.invoke("flip_active", uproot.vars.sname).then(uproot.reload);
    }
    function flipTesting() {
        uproot.invoke("flip_testing", uproot.vars.sname).then(uproot.reload);
    }
    function setDescription() {
        uproot.prompt(_("Enter new description:"), {{ session.description | tojson }})
            .then((newdesc) => uproot.invoke("update_description", uproot.vars.sname, newdesc))
            .then(uproot.reload);
    }

    uproot.onStart(() => {
        var popovers = [].slice.call(document.querySelectorAll("[data-bs-toggle='popover']"))
        popovers.map(function(el) { return new bootstrap.Popover(el) })
    });
</script>

<script src="{{ internalstatic('viewdata.js') }}"></script>
<script src="{{ internalstatic('monitor.js') }}"></script>

<script>
    function copyURLsToClipboard() {
        const keys = Object.keys(uproot.vars.info)
        var text = ""
        for (const k of keys) {
            text += `${window.location.origin}${uproot.vars.root}/p/${uproot.vars.sname}/${k}/\n`;
        };
        // Copy the text inside the text field
        navigator.clipboard.writeText(text);
        I("urls-copied").classList.remove("invisible");
        setTimeout(function() {
            I("urls-copied").classList.add("invisible");
        }, 3000);
    };
    var fullWidthTable = false;
    function toggleTableWidth() {
        if (fullWidthTable == true) {
            I("full-width-text").className = "d-block";
            I("normal-width-text").className = "d-none";
            I("tableContainer").classList.remove("table-sticky-outer-full-width");
            fullWidthTable = false;
        } else {
            I("full-width-text").className = "d-none";
            I("normal-width-text").className = "d-block";
            I("tableContainer").classList.add("table-sticky-outer-full-width");
            fullWidthTable = true;
        }
    }
</script>

{% endblock late %}
