{% extends "Admin.html" %}


{% block titlearea %}

<div class="d-flex justify-content-between my-4">
    <h2 id="uproot-title" class="fw-semibold">
        {% translate %}Session{% endtranslate %}
        <span class="font-monospace">{{ sname }}</span>
    </h2>
    <div>
        <a class="btn btn-outline-uproot" href="multiview/" target="_blank">Multiview</a>
        <div class="btn-group ms-2">
            <a class="btn btn-uproot" href="viewdata/">{% translate %}View data{% endtranslate %}</a>
            <button type="button" class="btn btn-uproot dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="data/">{% translate %}Download data{% endtranslate %}</a></li>
            </ul>
        </div>
        {#<a class="btn btn-uproot mb-2" href="monitor/">Monitor</a>#}
    </div>
</div>

{% endblock titlearea %}


{% block head %}

<style>
    .btn-group-sm {
        padding-bottom: 0pt !important;
        padding-top: 0pt !important;
        height: 31px;
    }
    .card-resizable {
        height: 90vh;
        left: 50%;
        max-width: 100vw;
        overflow: hidden;
        resize: both !important;
        transform: translate(-50%, 0%);
    }
    .card-resizable .card-body {
        height: 80%;
    }
    /* Color visited links so that it is clear during debuggin which participat URL one has already opened */
    .player-url:visited, .player-name .link-subtle:visited {
        color: var(--bs-uproot) !important;
    }
    .player-url:visited:hover, .player-name .link-subtle:visited:hover {
        color: var(--bs-uproot-dark) !important;
    }
    .table-sticky-inner {
        resize: none !important;
    }
    .table-sticky-outer {
        height: 100% !important;
        overflow: auto !important;
    }
    /* Tabulator styling for monitor table */
    #data-table {
        font-family: var(--bs-font-monospace);
        height: 100% !important;
    }
    #data-table .tabulator-frozen-left {
        border: 0px;
    }
    #data-table .tabulator-row {
        background-color: white;
    }
    #data-table .tabulator-row:hover {
        background-color: #eeeeee;
    }
    #data-table .tabulator-row.tabulator-selected {
        background-color: var(--bs-uproot-bg-light) !important;
    }
    /* Sticky column styling for Tabulator */
    .tabulator-col[aria-sort="ascending"] .tabulator-col-content, .tabulator-col[aria-sort="descending"] .tabulator-col-content {
        background-color: rgba(var(--bs-uproot-rgb), 0.25) !important;
    }
    .tabulator-cell[tabulator-field="id"], .tabulator-col[tabulator-field="id"] {
        color: var(--bs-uproot);
    }
    .tabulator-cell[tabulator-field="id"], .tabulator-cell[tabulator-field="player"] {
        font-weight: bolder;
    }
    .tabulator-col-content {
        background-color: var(--bs-uproot-bg-light);
        border-bottom: 1px solid var(--bs-uproot-border-subtle);
        border-right: 1px dashed var(--bs-uproot-border-subtle);
    }
    .tabulator-header {
        border-bottom: 0px !important;
    }
    /* Heartbeat animation */
    .heartbeat {
        transition: color 0.3s ease;
    }
    .heartbeat.active {
        color: #28a745; /* Bootstrap success green */
    }
    .not-yet-implemented {
        color: red;
        font-weight: bold;
    }
    a .not-yet-implemented {
        display: none;
    }
    a:hover .not-yet-implemented {
        display: block;
    }
</style>

{% endblock %}


{% block main %}

<div class="row">
    <div class="col-12 col-lg-3 mb-4">
        <div class="card h-100">
            <div class="card-body pb-2">
                <h5 class="border-bottom fw-semibold mb-3 mt-0 pb-3">{% translate %}Associated room{% endtranslate %}</h5>
                {% if room is none %}
                <p>{% translate %}This session is not associated with a room{% endtranslate %}.</p>
                {% else %}
                <p class="mb-2">{% translate %}This session is associated with a room{% endtranslate %}:</p>
                <p><a class="fs-4 font-monospace link-subtle" href="../../room/{{ room }}/">{{ room }}</a></p>
                <p class="mb-2 mt-3">
                    <button type="button" class="btn btn-danger btn-sm" onclick="disassociate()">{% translate %}Dissociate room and session{% endtranslate %}</button>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 mb-4">
        <div class="card h-100">
            <div class="card-body pb-2 row row-cols-1 row-cols-lg-3">
                <div class="col">
                    <h5 class="border-bottom fw-semibold mb-3 mt-0 pb-3">{% translate %}Description{% endtranslate %}</h5>
                    <p>{{ description }}</p>
                    <p>
                        <a class="btn btn-sm btn-uproot" href="#">{% translate %}Change{% endtranslate %}<span class="not-yet-implemented">Not yet implemented</span></a>  {# TODO #}
                    </p>
                </div>
                <div class="col">
                    <h5 class="border-bottom fw-semibold mb-3 mt-0 pb-3">{% translate %}Players{% endtranslate %}</h5>
                    <p class="d-table-row">
                        <span class="d-table-cell pe-4 text-nowrap">{% translate %}Total{% endtranslate %}</span>
                        <span class="d-table-cell">{{ len(info) }}</span>
                    </p>
                    <p class="d-table-row">
                        <span class="d-table-cell pe-4 text-nowrap">{% translate %}Started{% endtranslate %}</span>
                        <span class="d-table-cell not-yet-implemented">TBA</span>  {# TODO #}
                    </p>
                    <p class="mt-3">
                        <a class="btn btn-sm btn-uproot" href="#">{% translate %}Add players{% endtranslate %}<span class="not-yet-implemented">Not yet implemented</span></a>  {# TODO #}
                    </p>
                </div>
                <div class="col">
                    <h5 class="border-bottom fw-semibold mb-3 mt-0 pb-3">{% translate %}Actions{% endtranslate %}</h5>  {# TODO #}
                    <p class="mb-2 mt-3">
                        <button type="button" class="btn btn-danger btn-sm" onclick="flip_active()">
                            {% if active %}
                            {% translate %}Set inactive{% endtranslate %}
                            {% else %}
                            {% translate %}Set active{% endtranslate %}
                            {% endif %}
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="border-bottom fw-semibold mb-3 mt-0 pb-3">{% translate %}Player URLs{% endtranslate %}</h5>
                {% if not secret is none %}
                <p class="mb-2">{% translate %}The sessionwide URL is{% endtranslate %}:</p>
                <ul>
                    <li>
                        <a class="link-subtle player-url"
                            href="../../../s/{{ sname }}/{{ secret }}/" target="_blank">
                            {{ root }}/s/{{ sname }}/{{ secret}}/
                        </a>
                    </li>
                </ul>
                {% endif %}
                {% if len(info) > 0 %}
                <p class="mb-1">
                    <button class="btn btn-sm btn-outline-uproot" data-bs-target="#urlModal" data-bs-toggle="modal" type="button">
                        {% translate %}Show individual URLs{% endtranslate %}
                    </button>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Player monitor -->

<div class="card card-resizable">
    <div class="bg-white border-0 card-header pb-1">
        <div class="align-items-center border-bottom d-flex justify-content-between mb-0 pb-2">
            <h4 class="fw-semibold mt-2">{% translate %}Player monitor{% endtranslate %}</h4>
            <div class="btn-group btn-group-sm ms-3">
                <button type="button" class="btn btn-outline-uproot" onclick="mmodal('manage')">
                    {% translate %}Manage players{% endtranslate %}
                </button>
                <button type="button" class="btn btn-outline-uproot" onclick="mmodal('insert')">
                    {% translate %}Insert fields{% endtranslate %}
                </button>
                <button type="button" class="btn btn-outline-uproot" onclick="mmodal('adminmessage_send')">
                    {% translate %}Send message{% endtranslate %}
                </button>
            </div>
        </div>
    </div>
    <div class="card-body mt-1">
        <div class="table-sticky-outer" id="tableContainer">
            <div class="border-top border-uproot-subtle table-sticky-inner" id="tableOuter">
            </div>
        </div>
    </div>
</div>

<!-- Modal to manage players -->

<div class="modal fade" id="manage-modal" tabindex="-1" aria-labelledby="manage-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manage-modalLabel">
                    {% translate %}
                    Manage players
                    {% endtranslate %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    {% translate %}You have selected{% endtranslate %}
                    <b><span class="pcount"></span>
                    {% translate %}player(s){% endtranslate %}</b>.
                </p>
                <div class="mb-1">
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="manage" id="advance_by_one" value="advance_by_one">
                        <label class="form-check-label" for="advance_by_one">
                            {% translate %}
                            Advance by one page
                            {% endtranslate %}
                        </label><br>
                        <span class="form-text text-muted">
                            {% translate %}
                            If the next page is not shown, it will be skipped.
                            {% endtranslate %}
                        </span>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="manage" id="reload" value="reload">
                        <label class="form-check-label" for="reload">
                            {% translate %}
                            Reload players’ pages
                            {% endtranslate %}
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="manage" id="revert_by_one" value="revert_by_one">
                        <label class="form-check-label" for="revert_by_one">
                            {% translate %}
                            Revert by one page
                            {% endtranslate %}
                        </label><br>
                        <span class="form-text text-muted">
                            {% translate %}
                            If the previous page was not shown, this will return to the current page.
                            {% endtranslate %}
                        </span>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="manage" id="put_to_end" value="put_to_end">
                        <label class="form-check-label" for="put_to_end">
                            {% translate %}
                            Put to end
                            {% endtranslate %}
                        </label><br>
                        <span class="form-text text-muted">
                            {% translate %}
                            This terminates the study for the selected subject(s).
                            {% endtranslate %}
                        </span>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="manage" id="mark_dropout" value="mark_dropout">
                        <label class="form-check-label" for="mark_dropout">
                            {% translate %}
                            Mark as dropout
                            {% endtranslate %}
                        </label><br>
                        <span class="form-text text-muted">
                            {% translate %}
                            Within few seconds, this will run all dropout handlers registered with
                            {% endtranslate %}
                            <code>watch_for_dropout()</code>.
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    {% translate %}
                    Close
                    {% endtranslate %}
                </button>
                <button type="button" class="btn btn-danger" onclick="actually_manage()">
                    {% translate %}
                    Save changes
                    {% endtranslate %}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for inserting fields -->

<div class="modal fade" id="insert-modal" tabindex="-1" aria-labelledby="insert-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="insert-modalLabel">
                    {% translate %}
                    Insert fields
                    {% endtranslate %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    {% translate %}
                    You have selected <b><span class="pcount"></span> subject(s)</b>.
                    {% endtranslate %}
                </p>

                <div class="mb-3">
                    <textarea class="form-control font-monospace" id="json-input" rows="3">{}</textarea>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="manage" id="reload2" value="reload">
                    <label class="form-check-label" for="reload2">
                        {% translate %}
                        Reload players’ pages
                        {% endtranslate %}
                    </label>
                </div>

                <p>
                    {% translate %}
                    Please enter a valid JSON <i>object</i>. For example, this inserts the fields <code>foo</code> (an integer) and <code>bar</code> (a list):
                    {% endtranslate %}<br>
                    <code>{ "foo": -42, "bar": [10, 20, 30] }</code>
                </p>

                <p class="text-muted">
                    {% translate %}
                    Inserting fields is not considered good practice. Use this feature only when testing or in emergencies. Manual field insertions are irrevocably recorded as such in the database.
                    {% endtranslate %}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    {% translate %}
                    Close
                    {% endtranslate %}
                </button>
                <button type="button" class="btn btn-danger" onclick="actually_insert()">
                    {% translate %}
                    Insert fields
                    {% endtranslate %}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for admin to send message to players -->

<div class="modal fade" id="adminmessage_send-modal" tabindex="-1" aria-labelledby="adminmessage_send-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminmessage_send-modalLabel">
                    {% translate %}
                    Send message
                    {% endtranslate %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    {% translate %}
                    You have selected <b><span class="pcount"></span> subject(s)</b>.
                    {% endtranslate %}
                </p>

                <div class="mb-3">
                    <textarea class="form-control" id="adminmsg" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    {% translate %}
                    Close
                    {% endtranslate %}
                </button>
                <button type="button" class="btn btn-danger" onclick="actually_adminmessage_send()">
                    {% translate %}
                    Send message
                    {% endtranslate %}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for player URLs -->

<div class="modal fade" id="urlModal" tabindex="-1" aria-labelledby="urlModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="border-uproot-light modal-content">
        <div class="border-uproot-light modal-header">
            <h5 class="modal-title" id="urlModalLabel">
                {% translate %}Individual player URLs{% endtranslate %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% if len(info) > 0 %}
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th class="fw-semibold ps-0">Player ID</th>
                        <th class="fw-semibold">Player URL</th>
                    </tr>
                </thead>
                <tbody x-data="{}">
                    {% for key in info %}
                    <tr>
                        <td class="ps-0">{{ loop.index0 }}</td>
                        <td>
                            <a class="link-subtle player-url" href="../../../p/{{ sname }}/{{ key }}/" target="_blank"><span x-text="window.location.origin"></span>{{ root }}/p/{{ sname }}/{{ key }}/</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <ol class="mb-3">
            </ol>
            {% endif %}
        </div>
        <div class="border-uproot-light modal-footer justify-content-between">
            <button class="btn btn-outline-uproot btn-sm" onclick="copyURLsToClipboard()" type="button">Copy URLs as plain text</button>
            <span class="fw-300 invisible me-3 text-uproot" id="urls-copied">{% translate %}URLs copied to clipboard{% endtranslate %}.</span>
        </div>
        </div>
    </div>
</div>

{% endblock main %}


{% block late %}

<script>
    function disassociate() {
        uproot.invoke("disassociate", uproot.vars.room, uproot.vars.sname).then(uproot.reload);
    }
    function flip_active() {
        uproot.invoke("flip_active", uproot.vars.sname).then(uproot.reload);
    }
</script>

<script src="{{ internalstatic('viewdata.js') }}"></script>
<script>
const heartbeats = {};

uproot.onStart(() => {
    createTable("tableOuter");
    window.uproot?.invoke("subscribe_to_attendance", window.uproot?.vars?.sname);
});

// Override createTable for monitor-specific setup
function createTable(containerId) {
    currentContainer = containerId;

    if (table) {
        table.destroy();
    }

    const container = containerId === "tableOuter" ?
        document.querySelector("#tableOuter") :
        document.getElementById(containerId);

    // Create table element
    const tableEl = document.createElement("div");
    tableEl.id = "data-table";
    container.innerHTML = "";
    container.appendChild(tableEl);

    // Get initial data to discover columns dynamically
    const initialData = getMonitorDataForTabulator();

    const columns = createMonitorColumns(initialData);

    table = new Tabulator("#data-table", {
        height: "100%",
        layout: "fitColumns",
        placeholder: "No players available",
        selectableRows: true,
        columns: columns,
        data: transformMonitorDataForTabulator(initialData)
    });

    // Wait for table to be built before setting up event handlers
    table.on("tableBuilt", function() {
        // Sort by ID initially
        if (initialData && Object.keys(initialData).length > 0) {
            table.setSort("id", "asc");
        }
    });

    return table;
}

function createMonitorColumns(data) {
    const columns = [
        {
            formatter: "rowSelection",
            titleFormatter: "rowSelection",
            hozAlign: "center",
            headerSort: false,
            width: 40,
            cellClick: function(e, cell) {
                cell.getRow().toggleSelect();
            }
        }
    ];

    // Get all unique fields from data
    const allFields = new Set();
    Object.values(data).forEach(playerData => {
        Object.keys(playerData).forEach(field => {
            if (!["pageOrder", "heartbeat"].includes(field)) {
                allFields.add(field);
            }
        });
    });

    // Sort fields by monitor priority
    const monitorPriorityFields = ["id", "label", "player", "page", "progress", "lastSeen"];
    const sortedFields = Array.from(allFields).sort((a, b) => {
        const ai = monitorPriorityFields.indexOf(a);
        const bi = monitorPriorityFields.indexOf(b);

        if (ai !== -1 && bi !== -1) return ai - bi;  // both prioritized
        if (ai !== -1) return -1;                    // a is priority
        if (bi !== -1) return 1;                     // b is priority
        return a.localeCompare(b);                   // alphabetical for the rest
    });

    sortedFields.forEach((field, index) => {
        const colWidth = field === "id" ? 60 : (field === "label" ? 80 : (field === "player" ? 120 : (field === "page" ? 200 : (field === "progress" || field === "lastSeen" ? 120 : 100))));
        const frozen = ["id", "label", "player"].includes(field);

        const column = {
            title: field,
            field: field,
            frozen: frozen,
            width: colWidth,
            headerFilter: "input"
        };

        // Add special formatters for specific fields
        if (field === "player") {
            column.formatter = function(cell) {
                const value = cell.getValue();
                const data = cell.getRow().getData();
                const heartbeat = data.heartbeat ? 'active' : '';
                return `<div class="d-flex align-items-center gap-2">
                    <a class="link-subtle player-name" href="${uproot.vars.root}/p/${uproot.vars.sname}/${value}/" target="_blank">${value}</a>
                    <span class="heartbeat ${heartbeat}" aria-hidden="true">♥</span>
                </div>`;
            };
        } else if (field === "page") {
            column.formatter = function(cell) {
                const path = cell.getValue() || "";
                const s = path.lastIndexOf("/");
                let dir = "", nameExt = path;
                if (s !== -1) { dir = path.slice(0, s + 1); nameExt = path.slice(s + 1); }

                const d = nameExt.lastIndexOf(".");
                let name = nameExt, ext = "";
                if (d > 0) { name = nameExt.slice(0, d); ext = nameExt.slice(d); }

                let html = "";
                if (dir) html += `<span class="app">${dir}</span>`;
                html += `<span class="page">${name}</span>`;
                if (ext) html += `<span class="extension">${ext}</span>`;
                return html;
            };
        } else if (field === "progress") {
            column.formatter = function(cell) {
                const data = cell.getRow().getData();
                const tooltip = Array.isArray(data.pageOrder) && data.pageOrder.length > 0 ? data.pageOrder.join(" → ") : "";
                return `<span title="${tooltip}">${cell.getValue()}</span>`;
            };
        } else if (field === "lastSeen") {
            column.formatter = function(cell) {
                const value = cell.getValue();
                if (!value || value === "—") return value;
                if (value.length >= 8) {
                    const hhmm = value.slice(-8, -3);
                    const ss = value.slice(-3);
                    return `<span title="${value}">${hhmm}<span class='text-secondary opacity-50'>${ss}</span></span>`;
                }
                return value;
            };
        }

        columns.push(column);
    });

    return columns;
}

function getMonitorDataForTabulator() {
    const info = window.uproot?.vars?.info || {};
    const online = window.uproot?.vars?.online || {};
    const extraData = window.uproot?.vars?.extraData || {};

    const monitorData = {};

    // Get all unique players from both info and extraData
    const allPlayers = new Set([...Object.keys(info), ...Object.keys(extraData)]);

    for (const uname of allPlayers) {
        const tuple = info[uname];
        const id = tuple?.[0];
        const pageOrder = Array.isArray(tuple?.[1]) ? tuple[1] : [];
        const showPage = Number.isInteger(tuple?.[2]) ? tuple[2] : -1;
        const pageName = ppath(pageOrder, showPage);
        const lastSeen = online?.[uname] == null ? "—" : epochToLocalISO(online[uname]);

        // Get heartbeat state
        const isHeartbeatActive = heartbeats[uname] === true;

        monitorData[uname] = {
            id: { value_representation: id ?? "", time: 0, context: "system" },
            label: { value_representation: "", time: 0, context: "system" },
            player: { value_representation: uname, time: 0, context: "system" },
            page: { value_representation: pageName, time: 0, context: "system" },
            progress: { value_representation: `${Math.max(0, showPage + 1)}/${Math.max(0, pageOrder.length)}`, time: 0, context: "system" },
            lastSeen: { value_representation: lastSeen, time: 0, context: "system" },
            // Special fields that don't need metadata
            pageOrder: pageOrder,
            heartbeat: isHeartbeatActive
        };

        // Add extra data fields for this player
        if (extraData[uname]) {
            Object.keys(extraData[uname]).forEach(field => {
                monitorData[uname][field] = {
                    value_representation: extraData[uname][field],
                    time: Date.now() / 1000,
                    context: "extra"
                };
            });
        }
    }

    return monitorData;
}

function transformMonitorDataForTabulator(rawData) {
    const transformedData = [];

    for (const [uname, allfields] of Object.entries(rawData)) {
        const row = { player: uname };

        for (const [field, payload] of Object.entries(allfields)) {
            if (["pageOrder", "heartbeat"].includes(field)) {
                // Special fields without metadata
                row[field] = payload;
            } else {
                // Regular fields with value_representation
                row[field] = payload.value_representation;
            }
        }

        transformedData.push(row);
    }

    return transformedData;
}

async function updateData() {
    try {
        if (!table) return;

        const rawData = getMonitorDataForTabulator();
        const transformedData = transformMonitorDataForTabulator(rawData);
        const columns = createMonitorColumns(rawData);

        // Wait for table to be built before updating
        if (table.initialized) {
            const currentColumnFields = table.getColumnDefinitions().map(col => col.field);
            const newColumnFields = columns.map(col => col.field);

            if (JSON.stringify(currentColumnFields) !== JSON.stringify(newColumnFields)) {
                // Save current sort and selected rows before recreating table
                const currentSort = table.getSorters();
                const selectedPlayers = getSelectedPlayers();
                createTable(currentContainer);
                // Restore sort and selection after table is built
                if (currentSort.length > 0 || selectedPlayers.length > 0) {
                    table.on("tableBuilt", function() {
                        if (currentSort.length > 0) {
                            table.setSort(currentSort);
                        }
                        if (selectedPlayers.length > 0) {
                            // Restore selected rows
                            selectedPlayers.forEach(player => {
                                const rows = table.searchRows("player", "=", player);
                                if (rows.length > 0) {
                                    rows[0].select();
                                }
                            });
                        }
                    });
                }
            } else {
                // Preserve current sort and selected rows when updating data
                const currentSort = table.getSorters();
                const selectedPlayers = getSelectedPlayers();
                table.setData(transformedData);
                // Restore sort if it was cleared
                if (currentSort.length > 0) {
                    table.setSort(currentSort);
                }
                // Restore selected rows
                if (selectedPlayers.length > 0) {
                    selectedPlayers.forEach(player => {
                        const rows = table.searchRows("player", "=", player);
                        if (rows.length > 0) {
                            rows[0].select();
                        }
                    });
                }
            }
        } else {
            table.on("tableBuilt", function() {
                table.setData(transformedData);
            });
        }
    } catch (error) {
        console.error("Error updating monitor data:", error);
        if (table && table.initialized) {
            table.setData([]);
        }
    }
}

function ppath(pageOrder, showPage) {
    if (Array.isArray(pageOrder)) {
        if (Number.isInteger(showPage) && showPage >= 0 && showPage < pageOrder.length) {
            return pageOrder[showPage];
        }
        if (showPage === -1) return "Initialize.html";
    }
    return "End.html";
}

// Monitor-specific functions
window.new_info_online = function new_info_online(data) {
    if (!window.uproot) return;
    uproot.vars.online = data.online || {};
    uproot.vars.info = data.info || {};
    updateData();
};

window.updateExtraData = function updateExtraData(extraDataObj) {
    if (!window.uproot) return;
    if (!window.uproot.vars.extraData) window.uproot.vars.extraData = {};

    Object.assign(window.uproot.vars.extraData, extraDataObj);

    updateData();
};

function getSelectedPlayers() {
    if (!table || !table.initialized) return [];
    return table.getSelectedRows().map(row => row.getData().player).filter(Boolean);
}

window.invoke_from_monitor = function invoke_from_monitor(fname, ...args) {
    return window.uproot?.invoke(
        fname,
        window.uproot?.vars?.sname,
        getSelectedPlayers(),
        ...args,
    );
};

window.actually_manage = function actually_manage() {
    const action = window.uproot?.selectedValue("manage");
    if (action) {
        window.bootstrap?.Modal.getOrCreateInstance(I("manage-modal")).hide();
        window.invoke_from_monitor(action).then((data) => {
            if (data) window.new_info_online(data);
            window.uproot?.alert("The action has completed.");
        });
    } else {
        window.uproot?.error("No action was selected.");
    }
};

window.actually_insert = function actually_insert() {
    const json = I("json-input")?.value ?? "";
    const reload = !!I("reload2")?.checked;
    let fields;
    try {
        fields = JSON.parse(json);
    } catch {
        return window.uproot?.error("Invalid JSON.");
    }
    window.bootstrap?.Modal.getOrCreateInstance(I("insert-modal")).hide();
    window.invoke_from_monitor("insert_fields", { fields, reload }).then(() => {
        window.uproot?.alert("The action has completed.");
    });
};

window.actually_adminmessage_send = function actually_adminmessage_send() {
    const msg = I("adminmsg")?.value ?? "";
    window.bootstrap?.Modal.getOrCreateInstance(I("adminmessage_send-modal")).hide();
    window.invoke_from_monitor("adminmessage", msg).then(() => {
        window.uproot?.alert("The action has completed.");
    });
};

window.mmodal = function mmodal(moname) {
    const selected = getSelectedPlayers();
    const modal = window.bootstrap?.Modal.getOrCreateInstance(I(`${moname}-modal`));
    if (selected.length > 0) {
        document.querySelectorAll(".pcount").forEach((el) => { el.innerText = String(selected.length); });
        modal?.show();
    } else {
        window.uproot?.error("No subjects were selected.");
    }
};

function triggerHeartbeat(uname) {
    if (!window.uproot) return;

    // Set heartbeat active
    heartbeats[uname] = true;

    // Update table to show heartbeat
    updateData();

    // Remove heartbeat after 5 seconds
    setTimeout(() => {
        if (heartbeats) {
            heartbeats[uname] = false;
            updateData(); // Update table to remove heartbeat
        }
    }, 5000);
}

window.uproot?.onCustomEvent("Attended", (event) => {
    const uname = event?.detail?.uname;
    const info = event?.detail?.info;
    if (!uname || !Array.isArray(info)) return;

    // Update the uproot vars with new info
    if (!window.uproot.vars.info) window.uproot.vars.info = {};
    if (!window.uproot.vars.online) window.uproot.vars.online = {};

    // Update player info
    window.uproot.vars.info[uname] = info;
    window.uproot.vars.online[uname] = Date.now() / 1000; // Current timestamp in seconds

    // Trigger table refresh and heartbeat
    updateData();
    setTimeout(() => triggerHeartbeat(uname), 100); // Small delay to ensure table is updated
});
</script>

<script>
    function copyURLsToClipboard() {
        const keys = Object.keys(uproot.vars.info)
        var text = ""
        for (const k of keys) {
            text += `${window.location.origin}${uproot.vars.root}/p/${uproot.vars.sname}/${k}/\n`;
        };
        // Copy the text inside the text field
        navigator.clipboard.writeText(text);
        I("urls-copied").classList.remove("invisible");
        setTimeout(function() {
            I("urls-copied").classList.add("invisible");
        }, 3000);
    };
</script>

{% endblock late %}
