{% extends "Admin.html" %}


{% block titlearea %}

<div class="d-flex justify-content-between my-4">
    <h2 id="uproot-title" class="fw-semibold">
        {% translate %}Session{% endtranslate %}
        <span class="font-monospace">{{ sname }}</span>
    </h2>
    <div>
        <a class="btn btn-outline-uproot" href="multiview/" target="_blank">Multiview</a>
        <div class="btn-group ms-2">
            <a class="btn btn-uproot" href="viewdata/">{% translate %}View data{% endtranslate %}</a>
            <button type="button" class="btn btn-uproot dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="viewdata/">{% translate %}View data{% endtranslate %}</a></li>
                <li><a class="dropdown-item" href="data/">{% translate %}Download data{% endtranslate %}</a></li>
            </ul>
        </div>
        {#<a class="btn btn-uproot mb-2" href="monitor/">Monitor</a>#}
    </div>
</div>

{% endblock titlearea %}


{% block head %}

<style>
    .btn-group-sm {
        padding-bottom: 0pt !important;
        padding-top: 0pt !important;
        height: 31px;
    }

    /* Color visited links so that it is clear during debuggin which participat URL one has already opened */
    .player-url:visited, .player-name .link-subtle:visited {
        color: var(--bs-uproot) !important;
    }
    .player-url:visited:hover, .player-name .link-subtle:visited:hover {
        color: var(--bs-uproot-dark) !important;
    }

    /* Tabulator styling for monitor table */
    #data-table {
        font-family: var(--bs-font-monospace);
        height: 100% !important;
    }
    #data-table .tabulator-frozen-left {
        border: 0px;
    }
    #data-table .tabulator-row {
        background-color: white;
    }
    #data-table .tabulator-row:hover {
        background-color: #eeeeee;
    }
    #data-table .tabulator-row.tabulator-selected {
        background-color: var(--bs-uproot-bg-light) !important;
    }
    /* Sticky column styling for Tabulator */
    .tabulator-col[aria-sort="ascending"] .tabulator-col-content, .tabulator-col[aria-sort="descending"] .tabulator-col-content {
        background-color: rgba(var(--bs-uproot-rgb), 0.25) !important;
    }
    .tabulator-cell[tabulator-field="id"], .tabulator-col[tabulator-field="id"] {
        color: var(--bs-uproot);
    }
    .tabulator-cell[tabulator-field="id"], .tabulator-cell[tabulator-field="player"] {
        font-weight: bolder;
    }
    .tabulator-col-content {
        background-color: var(--bs-uproot-bg-light);
        border-bottom: 1px solid var(--bs-uproot-border-subtle);
        border-right: 1px dashed var(--bs-uproot-border-subtle);
        height: 100%;
    }
    .tabulator-cell {
        border-left: none !important;
    }
    .tabulator-col {
        border-left: none !important;
    }
    .tabulator-header {
        border-bottom: 0px !important;
    }
    .tabulator-headers {
        vertical-align: bottom !important;
    }
    /* Heartbeat animation */
    .heartbeat {
        transition: color 0.3s ease;
    }
    .heartbeat.active {
        color: #28a745; /* Bootstrap success green */
    }
    .not-yet-implemented {
        color: red;
        font-weight: bold;
    }
    a .not-yet-implemented {
        display: none;
    }
    a:hover .not-yet-implemented {
        display: block;
    }
</style>

{% endblock %}


{% block main %}

<div class="row">
    <div class="col-12 col-lg-3 mb-4">
        <div class="card h-100">
            <div class="card-body pb-2">
                <h5 class="border-bottom fw-semibold mb-3 mt-0 pb-3">{% translate %}Associated room{% endtranslate %}</h5>
                {% if room is none %}
                <p>{% translate %}This session is not associated with a room{% endtranslate %}.</p>
                {% else %}
                <p class="mb-2">{% translate %}This session is associated with a room{% endtranslate %}:</p>
                <p><a class="fs-4 font-monospace link-subtle" href="../../room/{{ room }}/">{{ room }}</a></p>
                <p class="mb-2 mt-3">
                    <button type="button" class="btn btn-danger btn-sm" onclick="disassociate()">{% translate %}Dissociate room and session{% endtranslate %}</button>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 mb-4">
        <div class="card h-100">
            <div class="card-body pb-2 row row-cols-1 row-cols-lg-3">
                <div class="col">
                    <h5 class="border-bottom fw-semibold mb-3 mt-0 pb-3">{% translate %}Description{% endtranslate %}</h5>
                    <p>{{ description }}</p>
                    <p>
                        <a class="btn btn-sm btn-uproot" href="#">{% translate %}Change{% endtranslate %}<span class="not-yet-implemented">Not yet implemented</span></a>  {# TODO #}
                    </p>
                </div>
                <div class="col">
                    <h5 class="border-bottom fw-semibold mb-3 mt-0 pb-3">{% translate %}Players{% endtranslate %}</h5>
                    <p class="d-table-row">
                        <span class="d-table-cell pe-4 text-nowrap">{% translate %}Total{% endtranslate %}</span>
                        <span class="d-table-cell">{{ len(info) }}</span>
                    </p>
                    <p class="d-table-row">
                        <span class="d-table-cell pe-4 text-nowrap">{% translate %}Started{% endtranslate %}</span>
                        <span class="d-table-cell not-yet-implemented">TBA</span>  {# TODO #}
                    </p>
                    <p class="mt-3">
                        <a class="btn btn-sm btn-uproot" href="#">{% translate %}Add players{% endtranslate %}<span class="not-yet-implemented">Not yet implemented</span></a>  {# TODO #}
                    </p>
                </div>
                <div class="col">
                    <h5 class="border-bottom fw-semibold mb-3 mt-0 pb-3">{% translate %}Actions{% endtranslate %}</h5>  {# TODO #}

                    <p class="mb-2 mt-3">
                        <button type="button" class="btn btn-outline-uproot btn-sm" onclick="flip_active()">
                            {% if active %}
                            {% translate %}Mark as inactive{% endtranslate %}
                            {% else %}
                            {% translate %}Mark as inactive{% endtranslate %}
                            {% endif %}
                        </button>
                    </p>
                    <p class="form-text text-body-tertiary">
                        {% if active %}
                        {% translate %}
                        This has purely cosmetical consequences: It moves this session to the “Inactive sessions” section on the “Sessions” page.
                        {% endtranslate %}
                        {% else %}
                        {% translate %}
                        This has purely cosmetical consequences: It moves this session to the “Active sessions” section on the “Sessions” page.
                        {% endtranslate %}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="border-bottom fw-semibold mb-3 mt-0 pb-3">{% translate %}Player URLs{% endtranslate %}</h5>
                {% if not secret is none %}
                <p class="mb-2">{% translate %}The sessionwide URL is{% endtranslate %}:</p>
                <ul>
                    <li>
                        <a class="link-subtle player-url"
                            href="../../../s/{{ sname }}/{{ secret }}/" target="_blank">
                            {{ root }}/s/{{ sname }}/{{ secret}}/
                        </a>
                    </li>
                </ul>
                {% endif %}
                {% if len(info) > 0 %}
                <p class="mb-1">
                    <button class="btn btn-sm btn-outline-uproot" data-bs-target="#urlModal" data-bs-toggle="modal" type="button">
                        {% translate %}Show individual URLs{% endtranslate %}
                    </button>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Player monitor -->

<div class="align-items-center d-flex justify-content-between mb-0 pb-2">
    <h3 class="fw-semibold me-3 mb-3 mt-2">{% translate %}Player monitor{% endtranslate %}</h3>
    <button type="button" class="btn btn-outline-uproot mb-3 mt-2" onclick="loadExtraData()">
        {% translate %}Refresh{% endtranslate %}
    </button>
    <div class="btn-group mb-3 ms-2 mt-2">
        <button type="button" class="btn btn-uproot" onclick="mmodal('manage')">
            {% translate %}Manage players{% endtranslate %}
            </button>
        <button type="button" class="btn btn-uproot dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu">
            <li>
                <span  class="dropdown-item" onclick="mmodal('manage')" role="button">
                    {% translate %}Manage players{% endtranslate %}
                </span>
            </li>
            <li>
                <span  class="dropdown-item" onclick="mmodal('insert')" role="button">
                    {% translate %}Insert fields{% endtranslate %}
                </span>
            </li>
            <li>
                <span  class="dropdown-item" onclick="mmodal('adminmessage_send')" role="button">
                    {% translate %}Send message{% endtranslate %}
                </span>
            </li>
        </ul>
    </div>
</div>
<div class="mt-0 table-sticky-outer" id="tableContainer">
    <div class="container p-0" id="tableMain">
        <div class="border-bottom border-top border-uproot-subtle table-sticky-inner" id="tableOuter">
        </div>
    </div>
</div>

<!-- Modal to manage players -->

<div class="modal fade" id="manage-modal" tabindex="-1" aria-labelledby="manage-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manage-modalLabel">
                    {% translate %}
                    Manage players
                    {% endtranslate %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    {% translate %}You have selected{% endtranslate %}
                    <b><span class="pcount"></span>
                    {% translate %}player(s){% endtranslate %}</b>.
                </p>
                <div class="mb-1">
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="manage" id="advance_by_one" value="advance_by_one">
                        <label class="form-check-label" for="advance_by_one">
                            {% translate %}
                            Advance by one page
                            {% endtranslate %}
                        </label><br>
                        <span class="form-text text-muted">
                            {% translate %}
                            If the next page is not shown, it will be skipped.
                            {% endtranslate %}
                        </span>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="manage" id="reload" value="reload">
                        <label class="form-check-label" for="reload">
                            {% translate %}
                            Reload players’ pages
                            {% endtranslate %}
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="manage" id="revert_by_one" value="revert_by_one">
                        <label class="form-check-label" for="revert_by_one">
                            {% translate %}
                            Revert by one page
                            {% endtranslate %}
                        </label><br>
                        <span class="form-text text-muted">
                            {% translate %}
                            If the previous page was not shown, this will return to the current page.
                            {% endtranslate %}
                        </span>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="manage" id="put_to_end" value="put_to_end">
                        <label class="form-check-label" for="put_to_end">
                            {% translate %}
                            Put to end
                            {% endtranslate %}
                        </label><br>
                        <span class="form-text text-muted">
                            {% translate %}
                            This terminates the study for the selected subject(s).
                            {% endtranslate %}
                        </span>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="manage" id="mark_dropout" value="mark_dropout">
                        <label class="form-check-label" for="mark_dropout">
                            {% translate %}
                            Mark as dropout
                            {% endtranslate %}
                        </label><br>
                        <span class="form-text text-muted">
                            {% translate %}
                            Within few seconds, this will run all dropout handlers registered with
                            {% endtranslate %}
                            <code>watch_for_dropout()</code>.
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    {% translate %}
                    Close
                    {% endtranslate %}
                </button>
                <button type="button" class="btn btn-danger" onclick="actually_manage()">
                    {% translate %}
                    Save changes
                    {% endtranslate %}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for inserting fields -->

<div class="modal fade" id="insert-modal" tabindex="-1" aria-labelledby="insert-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="insert-modalLabel">
                    {% translate %}
                    Insert fields
                    {% endtranslate %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    {% translate %}
                    You have selected <b><span class="pcount"></span> subject(s)</b>.
                    {% endtranslate %}
                </p>

                <div class="mb-3">
                    <textarea class="form-control font-monospace" id="json-input" rows="3">{}</textarea>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="manage" id="reload2" value="reload">
                    <label class="form-check-label" for="reload2">
                        {% translate %}
                        Reload players’ pages
                        {% endtranslate %}
                    </label>
                </div>

                <p>
                    {% translate %}
                    Please enter a valid JSON <i>object</i>. For example, this inserts the fields <code>foo</code> (an integer) and <code>bar</code> (a list):
                    {% endtranslate %}<br>
                    <code>{ "foo": -42, "bar": [10, 20, 30] }</code>
                </p>

                <p class="text-muted">
                    {% translate %}
                    Inserting fields is not considered good practice. Use this feature only when testing or in emergencies. Manual field insertions are irrevocably recorded as such in the database.
                    {% endtranslate %}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    {% translate %}
                    Close
                    {% endtranslate %}
                </button>
                <button type="button" class="btn btn-danger" onclick="actually_insert()">
                    {% translate %}
                    Insert fields
                    {% endtranslate %}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for admin to send message to players -->

<div class="modal fade" id="adminmessage_send-modal" tabindex="-1" aria-labelledby="adminmessage_send-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminmessage_send-modalLabel">
                    {% translate %}
                    Send message
                    {% endtranslate %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    {% translate %}
                    You have selected <b><span class="pcount"></span> subject(s)</b>.
                    {% endtranslate %}
                </p>

                <div class="mb-3">
                    <textarea class="form-control" id="adminmsg" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    {% translate %}
                    Close
                    {% endtranslate %}
                </button>
                <button type="button" class="btn btn-danger" onclick="actually_adminmessage_send()">
                    {% translate %}
                    Send message
                    {% endtranslate %}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for player URLs -->

<div class="modal fade" id="urlModal" tabindex="-1" aria-labelledby="urlModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="border-uproot-light modal-content">
        <div class="border-uproot-light modal-header">
            <h5 class="modal-title" id="urlModalLabel">
                {% translate %}Individual player URLs{% endtranslate %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% if len(info) > 0 %}
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th class="fw-semibold ps-0">Player ID</th>
                        <th class="fw-semibold">Player URL</th>
                    </tr>
                </thead>
                <tbody x-data="{}">
                    {% for key in info %}
                    <tr>
                        <td class="ps-0">{{ loop.index0 }}</td>
                        <td>
                            <a class="link-subtle player-url" href="../../../p/{{ sname }}/{{ key }}/" target="_blank"><span x-text="window.location.origin"></span>{{ root }}/p/{{ sname }}/{{ key }}/</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <ol class="mb-3">
            </ol>
            {% endif %}
        </div>
        <div class="border-uproot-light modal-footer justify-content-between">
            <button class="btn btn-outline-uproot btn-sm" onclick="copyURLsToClipboard()" type="button">Copy URLs as plain text</button>
            <span class="fw-300 invisible me-3 text-uproot" id="urls-copied">{% translate %}URLs copied to clipboard{% endtranslate %}.</span>
        </div>
        </div>
    </div>
</div>

{% endblock main %}


{% block late %}

<script>
    function disassociate() {
        uproot.invoke("disassociate", uproot.vars.room, uproot.vars.sname).then(uproot.reload);
    }
    function flip_active() {
        uproot.invoke("flip_active", uproot.vars.sname).then(uproot.reload);
    }
</script>

<script src="{{ internalstatic('viewdata.js') }}"></script>
<script src="{{ internalstatic('monitor.js') }}"></script>

<script>
    function copyURLsToClipboard() {
        const keys = Object.keys(uproot.vars.info)
        var text = ""
        for (const k of keys) {
            text += `${window.location.origin}${uproot.vars.root}/p/${uproot.vars.sname}/${k}/\n`;
        };
        // Copy the text inside the text field
        navigator.clipboard.writeText(text);
        I("urls-copied").classList.remove("invisible");
        setTimeout(function() {
            I("urls-copied").classList.add("invisible");
        }, 3000);
    };
</script>

{% endblock late %}
