{% extends "Admin.html" %}


{% block title %}

{% translate %}
Session
{% endtranslate %}
<a href="../" class="link-subtle">{{ sname }}</a>:
{% translate %}
Multi View
{% endtranslate %}

{% endblock title %}


{% block head %}

<style>
    footer, #uproot-title, .navbar {
        display: none;
    }
</style>

{% endblock head %}


{% block main %}

<p class="fs-3" id="no-players-selected" hidden>
    {% translate %}
    No players selected.
    {% endtranslate %}
</p>

{% endblock main %}

{% block late %}

<script src="{{ internalstatic('multiview.js') }}"></script>
<script>
    let hash;

    if ((hash = window.location.hash.substring(1)).length == 0) {
        I("no-players-selected").hidden = false;
    }
    else {
        const playerIds = hash.split(",").map(Number);  // playerIds should be pre-sorted

        uproot.onStart(() => {
            const playerLabels = playerIds.map(i => uproot.vars.labels[i]);
            const playerUrls = playerIds.map(i => `${uproot.vars.root}/p/${uproot.vars.sname}/${uproot.vars.unames[i]}/`);

            createIframes(playerIds, playerLabels, playerUrls);
        });
    }
</script>

{% endblock late %}
