{% extends "Admin.html" %}


{% block title %}

{% translate %}
Session
{% endtranslate %}
<a href="../" class="link-subtle">{{ sname }}</a>:
{% translate %}
Multi View
{% endtranslate %}

{% endblock title %}


{% block head %}

<style>
    footer, #uproot-title, .navbar {
        display: none;
    }
</style>

{% endblock head %}


{% block main %}

<p class="fs-3" id="no-players-selected">
    {% translate %}
    No players selected in the player monitor to be displayed via multiview.
    {% endtranslate %}
</p>

{% endblock main %}

{% block late %}

<script src="{{ internalstatic('multiview.js') }}"></script>
<script>
    uproot.onStart(() => {
        const playerIDs = [];
        const playerLabels = [];
        const playerNames = [];
        uproot.vars.players.forEach((val, i) => {
            if (i % 3 === 0) playerIDs.push(val);
            else if (i % 3 === 1) playerLabels.push(val);
            else playerNames.push(val);
        });
        const playerURLs = playerNames.map(pName => `${uproot.vars.root}/p/${uproot.vars.sname}/${pName}/`);
        createIframes(playerIDs, playerLabels, playerURLs);
    });
</script>

{% endblock late %}
