{% extends "Admin.html" %}


{% block title %}

{% translate %}
Server status
{% endtranslate %}

{% endblock title %}


{% block main %}

<div class="row">
    <div class="col-12 col-lg-6 pb-4">
        <div class="card h-100 mb-4">
            <div class="bg-white border-0 card-header pb-2">
                <h4 class="border-bottom fw-semibold mb-0 mt-2 pb-3">{% translate %}Database{% endtranslate %}</h4>
            </div>
            <div class="card-body pb-0 pt-2">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th class="fw-semibold ps-0" scope="row">{% translate %}Database driver{% endtranslate %}</th>
                            <td class="col-4 font-monospace">{{ deployment.DATABASE.__class__.__name__ }}</td>
                        </tr>
                        {% if dbsize is not none %}
                        <tr>
                            <th class="fw-semibold ps-0" scope="row">{% translate %}Database size{% endtranslate %}</th>
                            <td class="font-monospace">{{ dbsize | to(1) }}&nbsp;MiB</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                <h5 class="mb-3 mt-4">{% translate %}Download database dump{% endtranslate %}</h5>
                <p class="text-muted">
                    {% translate %}
                    This creates a complete machine-readable record of all data.
                    {% endtranslate %}
                    {% translate %}
                    It may be re-imported using <code>uproot restore</code>.
                    {% endtranslate %}
                </p>
                <p class="mb-0">
                    <a class="btn btn-sm btn-uproot" href="../dump/">
                        {% translate %}
                        Download
                        {% endtranslate %}
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 pb-4">
        <div class="card h-100 mb-4">
            <div class="card-header bg-white border-0 card-header pb-2">
                <h4 class="border-bottom fw-semibold mb-0 mt-2 pb-3">
                    {% translate %}
                    Active logins
                    {% endtranslate %}
                </h4>
            </div>
            <div class="card-body pb-0 pt-2">
                {% if sessions %}
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="ps-0">
                                {% translate %}
                                User
                                {% endtranslate %}
                            </th>
                            <th>
                                {% translate %}
                                Active logins
                                {% endtranslate %}
                            </th>
                            <th>
                                {% translate %}
                                Logged in at (UTC)
                                {% endtranslate %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user, info in sessions.items() %}
                        <tr>
                            <td class="ps-0"><strong>{{ user }}</strong></td>
                            <td>
                                <span class="badge bg-uproot">{{ info.token_count }}</span>
                            </td>
                            <td>
                                {% for created_at in info.created_at %}
                                    <small class="text-muted d-block">{{ created_at }}</small>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-info">
                    <i class="bi bi-info-circle me-2"></i>
                    {% translate %}
                    No active authentication sessions found.
                    {% endtranslate %}
                </div>
                {% endif %}
                <p class="mb-2 mt-4">
                    <a class="btn btn-danger btn-sm mb-0" href="logout-all/">
                        {% translate %}
                        Log out all
                        {% endtranslate %}
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="bg-white border-0 card-header pb-1">
        <h4 class="border-bottom fw-semibold mb-0 mt-2 pb-3">{% translate %}Version information{% endtranslate %}</h4>
    </div>
    <div class="card-body pb-1 row">
        <div class="col-12 col-lg-6">
            <h5 class="mb-3">uproot {% translate %}version{% endtranslate %}</h5>
            <p>
                {% translate %}You are currently running{% endtranslate %}
                uproot {{ versions.uproot }}.
            </p>
            <p>
                <button type="button" class="btn btn-outline-uproot btn-sm fw-semibold" onclick="announcements()">
                    {% translate %}
                    Check for important annoucements
                    {% endtranslate %}
                </button>
            </p>
            <h5 class="mb-3 mt-4">{% translate %}Python version{% endtranslate %}</h5>
            <p class="font-monospace">{{ versions.python }}</p>
            <h5 class="mb-3 mt-4">{% translate %}Environment variables{% endtranslate %}</h5>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th class="fw-semibold ps-0" scope="col">{% translate %}Variable{% endtranslate %}</th>
                        <th class="col-4 fw-semibold" scope="col">{% translate %}Value{% endtranslate %}</th>
                    </tr>
                </thead>
                <tbody class="font-monospace">
                    {% for name, value in environ.items() %}
                    <tr>
                        <td class="ps-0">{{ name }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 col-lg-6">
            <h5 class="mb-3">{% translate %}Installed packages{% endtranslate %}</h5>
            <p class="text-muted">
                {% translate %}
                For the purpose of documentation and replication, each session automatically stores which packages were installed when it was created. See <code>session.packages</code>.
                {% endtranslate %}
            </p>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th class="fw-semibold ps-0" scope="col">{% translate %}Package{% endtranslate %}</th>
                        <th class="col-4 fw-semibold" scope="col">{% translate %}Version{% endtranslate %}</th>
                    </tr>
                </thead>
                <tbody class="font-monospace">
                    {% for pkg, version in packages %}
                    <tr>
                        <td class="ps-0 {% if pkg=='uproot-science' %} fw-bold text-uproot {% endif %}">{{ pkg }}</td>
                        <td {% if pkg=="uproot-science" %} class="fw-bold text-uproot" {% endif %}>{{ version }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div x-data="{ show: false }" class="mb-3 mt-4">
    <button class="btn btn-outline-uproot" type="button" @click="show = !show">
        <span x-show="!show">
        {% translate %}Show information for uproot developers{% endtranslate %}
        </span>
        <span x-show="show">
        {% translate %}Hide information for uproot developers{% endtranslate %}
        </span>
    </button>
    {# No i18n needed here #}
    <div x-show="show" class="card border-uproot-light mt-3">
        <div class="bg-white border-0 card-header">
            <h4 class="fw-semibold mb-0 mt-2 pb-0">Missing terms</h4>
        </div>
        <div class="card-body">
            <textarea class="form-control" rows="10" readonly>{{ missing | tojson }}</textarea>
        </div>
    </div>
</div>


{% endblock main %}


{% block late %}

<script>
    function parseVersion(versionString) {
        return versionString.split(".").map(Number);
    }

    function isCurrentVersion(currentVersion, requiredVersion) {
        const current = Array.isArray(currentVersion) ? currentVersion : parseVersion(currentVersion);
        const required = Array.isArray(requiredVersion) ? requiredVersion : parseVersion(requiredVersion);

        for (let i = 0; i < Math.max(current.length, required.length); i++) {
            const c = current[i] || 0;
            const r = required[i] || 0;
            if (c > r) return true;
            if (c < r) return false;
        }

        return true;
    }

    function announcements() {
        const i_am = parseVersion(uproot.vars.versions.uproot);

        uproot.invoke("announcements").then((data) => {
            const recommended = parseVersion(data.recommendedVersion);
            let safeHTML = "<p>";

            safeHTML += _("You are running version #i_am#. The current version is #recommended#.")
                .replace("#i_am#", uproot.escape(uproot.vars.versions.uproot))
                .replace("#recommended#", uproot.escape(data.recommendedVersion));

            safeHTML += "</p>";

            if (data.generalAnnouncement !== null) {
                safeHTML += `<div class="alert alert-success" role="alert">
                                 <b>${_("General announcement")}</b>:
                                 ${uproot.escape(data.generalAnnouncement)}
                             </div>`;
            }

            if (isCurrentVersion(i_am, recommended)) {
                if (!data.announcements.hasOwnProperty(uproot.vars.versions.uproot)) {
                    safeHTML += "<p><i>";
                    safeHTML += _("Your version appears to be up to date.");
                    safeHTML += "</i></p>";
                }
                else {
                    safeHTML += '<p class="alert alert-danger" role="alert">';
                    safeHTML += `<b>${_("Announcement for your version")}</b>: `;
                    safeHTML += uproot.escape(data.announcements[uproot.vars.versions.uproot]);
                    safeHTML += "</p>";
                }
            }
            else {
                safeHTML += "<p><b>";
                safeHTML += _("Your version is outdated. Please update as soon as possible.");
                safeHTML += "</b></p>";

                if (data.announcements.hasOwnProperty(uproot.vars.versions.uproot)) {
                    safeHTML += '<p class="alert alert-danger" role="alert">';
                    safeHTML += `<b>${_("Announcement for your version")}</b>: `;
                    safeHTML += uproot.escape(data.announcements[uproot.vars.versions.uproot]);
                    safeHTML += "</p>";
                }
            }

            uproot.alert(safeHTML);
        });
    }
</script>

{% endblock late %}
