{% extends "Admin.html" %}

{% block title %}

{% translate %}
Session
{% endtranslate %}
<a href="../" class="font-monospace link-dark link-offset-2 link-underline-dark link-underline-opacity-25 link-underline-opacity-100-hover">{{ sname }}</a>
<span class="fw-light text-secondary">&gt; {% translate %}Data{% endtranslate %}</span>

{% endblock title %}


{% block head %}

<style>
    #data-table {
        font-family: var(--bs-font-monospace);
    }
    
    #data-table .tabulator-row {
        background-color: transparent;
    }
 
    #data-table .tabulator-row:hover {
        background-color: #eee;
    }

    /* Sticky column styling for Tabulator */
    .tabulator-col[tabulator-field="id"] {
        color: var(--bs-uproot);
    }
    
    /* Full height for modal */
    #tableModalInner {
        height: 95vh;
    }
    
    #tableModalInner #data-table {
        height: 100%;
    }
</style>

{% endblock head %}


{% block main %}

<div class="d-flex flex-row justify-content-between mb-3">
    <div>
        <button type="button" class="btn btn-outline-uproot mb-2 me-2" onclick="refreshData()">{% translate %}Refresh{% endtranslate %}</button>
        <button type="button" class="btn btn-outline-uproot mb-2" data-bs-toggle="modal" data-bs-target="#tableModal">{% translate %}Full-screen table{% endtranslate %}</button>
    </div>
    <div>
        <a class="btn btn-uproot mb-2 me-2" href="../selectdata/">{% translate %}Download data{% endtranslate %}</a>
        <a class="btn btn-uproot mb-2" href="../monitor/">{% translate %}Monitor{% endtranslate %}</a>
    </div>
</div>

<div id="tableOuter">
    <div id="data-table"></div>
</div>

<!-- Modal -->
<div class="fade modal" id="tableModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header py-2">
                <button type="button" class="btn btn-outline-uproot btn-sm" onclick="refreshData()">{% translate %}Refresh{% endtranslate %}</button>
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-3 py-0" id="tableModalInner">
            </div>
        </div>
    </div>
</div>

{% endblock main %}


{% block late %}

<script src="{{ internal_static('viewdata.js') }}"></script>
<script>
    const tableModal = document.getElementById("tableModal");
    let isModalView = false;

    uproot.onStart(() => initializeTable());

    tableModal.addEventListener("shown.bs.modal", () => {
        isModalView = true;
        createTable("tableModalInner");
        // Refresh with current data after switching to modal
        if (Object.keys(fullDataset).length > 0) {
            const transformedData = transformDataForTabulator(fullDataset);
            const columns = createColumns(fullDataset);
            table.setColumns(columns);
            table.setData(transformedData);
        }
    });

    tableModal.addEventListener("hidden.bs.modal", () => {
        isModalView = false;
        createTable("tableOuter");
        // Refresh with current data after switching back
        if (Object.keys(fullDataset).length > 0) {
            const transformedData = transformDataForTabulator(fullDataset);
            const columns = createColumns(fullDataset);
            table.setColumns(columns);
            table.setData(transformedData);
        }
    });
</script>

{% endblock late %}
