{% extends "Admin.html" %}

{% block title %}

<div class="d-flex justify-content-between">
    <span id="page-title">
        {% translate %}Session{% endtranslate %}
        <a href="../" class="font-monospace link-dark link-offset-2 link-underline-dark link-underline-opacity-25 link-underline-opacity-100-hover">{{ sname }}</a>
        <span class="fw-light text-secondary">&gt; {% translate %}Data{% endtranslate %}</span>
    </span>
    <div class="btn-group mb-2 mx-2" id="buttongroup-normal-table">
        <button type="button" class="btn btn-outline-uproot" onclick="refreshData()">{% translate %}Refresh{% endtranslate %}</button>
        {#<button type="button" class="btn btn-outline-uproot mb-2" data-bs-toggle="modal" data-bs-target="#tableModal">{% translate %}Full-screen table{% endtranslate %}</button>#}
        <button type="button" class="btn btn-outline-uproot" onclick="fullScreenTable()">{% translate %}Full-screen table{% endtranslate %}</button>
    </div>
    <div id="buttons-normal-table">
        <a class="btn btn-uproot mb-2 me-2" href="../selectdata/">{% translate %}Download data{% endtranslate %}</a>
        <a class="btn btn-uproot mb-2" href="../monitor/">{% translate %}Monitor{% endtranslate %}</a>
    </div>
    <div class="btn-group d-none me-2" id="buttons-fullscreen-table">
        <button type="button" class="btn btn-outline-uproot btn-sm" onclick="refreshData()">{% translate %}Refresh{% endtranslate %}</button>
        <button type="button" class="btn btn-outline-uproot btn-sm" onclick="normalTable()">{% translate %}Normal table{% endtranslate %}</button>
    </div>
</div>

{% endblock title %}


{% block head %}

<style>
    #data-table {
        font-family: var(--bs-font-monospace);
        height: 100% !important;
    }
    #data-table input[type=search] {
        font-size: small !important;
        margin-top: 2px;
    }
    #data-table .tabulator-frozen-left {
        border: 0px;
    }
    #data-table .tabulator-row {
        background-color: white;
    }
    #data-table .tabulator-row:hover {
        background-color: #eeeeee;
    }
    /* Sticky column styling for Tabulator */
    .tabulator-cell[tabulator-field="id"], .tabulator-col[tabulator-field="id"] {
        color: var(--bs-uproot);
    }
    .tabulator-cell[tabulator-field="id"], .tabulator-cell[tabulator-field="label"], .tabulator-cell[tabulator-field="player"] {
        font-weight: bolder;
    }
    .tabulator-col-content {
        background-color: var(--bs-uproot-bg-light);
        border-bottom: 1px solid var(--bs-uproot-border-subtle);
        border-right: 1px dashed var(--bs-uproot-border-subtle);
    }
    .tabulator-header {
        border-bottom: 0px !important;
    }
    .h-fullscreen-title {
        height: 2.5vh;
    }
    .h-fullscreen-table {
        height: 94.5vh;
    }
    .start-fullscreen {
        left: 0.65vw;
    }
    .w-fullscreen {
        width: 98.7vw;
    }
</style>

{% endblock head %}


{% block main %}

<div class="mt-0 table-sticky-outer" id="tableContainer">
    <div class="container p-0" id="tableMain">
        <div class="border-bottom border-top border-uproot-subtle table-sticky-inner" id="tableOuter">
        </div>
    </div>
</div>

{#
<!-- Modal -->
<!--<div class="fade modal" id="tableContainer" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">-->
<div class="container mt-3 table-sticky-outer" id="tableContainer" style="background-color: var(--bs-uproot-bg-subtle); border: 5px solid gold;">
<!--class="container mt-3 table-sticky-outer"-->
    <!--<div class="modal-dialog modal-dialog-scrollable modal-fullscreen">-->
    <div id="becomes-modal-fullscreen">
        <!--<div class="modal-content">-->
        <div id="becomes-modal-content">
            <!--<div class="modal-header py-2">-->
            <div id="becomes-modal-header">
                <button type="button" class="btn btn-outline-uproot btn-sm" onclick="refreshData()">{% translate %}Refresh{% endtranslate %}</button>
                <button type="button" class="btn-close btn-sm" onclick="normalTable()"></button>
            </div>
            <!--<div class="modal-body px-3 py-0" id="tableInModal">-->
            <div class="border-bottom border-top border-uproot-subtle p-0 table-sticky-inner" id="tableMain">
                <div id="tableOuter">
                </div>
            </div>
        </div>
    </div>
</div>
#}

{% endblock main %}


{% block late %}

<script src="{{ internal_static('viewdata.js') }}"></script>
<script>
    uproot.onStart(() => initializeTable());
    //I("tableContainer").classList.remove("fade");
    //I("tableContainer").classList.remove("modal");
    //I("tableContainer").classList.add("container");
    function fullScreenTable() {
        I("uproot-footer").classList.add("d-none");
        I("uproot-navbar").classList.add("d-none");
        I("tableContainer").setAttribute("class", "position-absolute h-fullscreen-table start-fullscreen w-fullscreen");
        //I("tableOuter").classList.add("mx-3");
        I("buttongroup-normal-table").classList.add("d-none");
        I("buttons-normal-table").classList.add("d-none");
        I("buttons-fullscreen-table").classList.remove("d-none");
        I("page-title").classList.add("fs-4");
        I("uproot-title").classList.add("h-fullscreen-title");
        I("uproot-title").classList.add("mt-3");
        I("uproot-title").classList.remove("my-4");
        //I("becomes-modal-fullscreen").setAttribute("class", "modal-dialog modal-dialog-scrollable modal-fullscreen");
        //I("becomes-modal-content").setAttribute("class", "modal-content");
        //I("becomes-modal-header").setAttribute("class", "modal-header py-2");
        //I("tableMain").setAttribute("class", "modal-body px-3 py-0");
        //return new bootstrap.Modal(I("tableContainer"));
    }
    function normalTable() {
        I("uproot-footer").classList.remove("d-none");
        I("uproot-navbar").classList.remove("d-none");
        I("tableContainer").setAttribute("class", "mt-0 table-sticky-outer");
        I("tableOuter").classList.remove("mx-3");
        I("buttons-fullscreen-table").classList.add("d-none");
        I("buttongroup-normal-table").classList.remove("d-none");
        I("buttons-normal-table").classList.remove("d-none");
        I("page-title").classList.remove("fs-4");
        I("uproot-title").classList.remove("h-fullscreen-title");
        I("uproot-title").classList.remove("mt-3");
        I("uproot-title").classList.add("my-4");
    }
</script>

{% endblock late %}
