{% extends "Bare.html" %}
{% set noautostart = True %}

{% block main %}

{% include app_or_default(app, "JustPOSTInfo.html") ignore missing %}

{% endblock main %}

{% block late %}

<script>
    if (typeof stopHere === "undefined" || !stopHere) {
        uproot.onStart(() => {
            const form = document.forms[0];
            const params = new URLSearchParams(window.location.search);

            for (const [key, value] of params) {
                const input = document.createElement("input");
                input.type = "hidden";
                input.name = key;
                input.value = value;
                form.appendChild(input);
            }

            form.action = window.location.pathname;
            form.submit();
        });
    }
</script>

{% endblock late %}
