{% extends "Base.html" %}
{% set buttons = False %}
{% set noautostart = True %}

{% block title %}
{% if _uproot_internal.needlabel %}
{% translate %}
Welcome
{% endtranslate %}
{% else %}
{% translate %}
Please wait
{% endtranslate %}
{% endif %}
{% endblock title %}


{% block main3 %}

{% include app_or_default(app, "RoomHelloInfo.html") ignore missing %}

{% if _uproot_internal.needlabel %}

{% if _uproot_internal.bad %}

<div class="alert alert-danger mb-4" role="alert">
    {% translate %}
    You provided invalid credentials.
    {% endtranslate %}
</div>

{% endif %}

<form method="get">
    <div class="mb-3">
        <label for="label" class="form-label">
            {% translate %}
            Please enter your Access Code.
            {% endtranslate %}
        </label>
        <input type="hidden" name="bad" value="0">
        <input type="text" class="form-control form-control-lg font-monospace" id="label" name="label" maxlength="128" required>
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-lg">
            {% translate %}
            Submit
            {% endtranslate %}
        </button>
    </div>
</form>

{% else %}

<p>
    {% translate %}
    This page will advance automatically.
    {% endtranslate %}
</p>

<p>
    <b>
        {% translate %}
        Keep this page open and watch it at all times.
        {% endtranslate %}
    </b>
</p>

<form id="label-form" method="get">
    <input type="hidden" id="label" name="label">
</form>

<script>
    const labelInURL = uproot.getParam("label") !== null;
    const label = uproot.getParam("label") || "";

    uproot.wsurl = () => {
        const protocol = window.location.protocol === "https:" ? "wss:" : "ws:";
        const host = window.location.host;
        const ui = uproot.vars._uproot_internal;

        return `${protocol}//${host}${ui.root}/roomws/${ui.roomname}/?label=${label}`;
    };

    function setLabelAndSubmit(event) {
        const label = event.detail.label;

        I("label").value = label;
        I("label-form").submit();
    }

    if (typeof stopHere === "undefined" || !stopHere) {
        uproot.onStart(() => {
            uproot.enableConnectionLostModal();
            uproot.wsstart();
        });

        uproot.onCustomEvent("RoomLabelProvided", (event) => {
            if (!labelInURL || label != event.detail.label) {
                setLabelAndSubmit(event);
            }
        });

        uproot.onCustomEvent("RoomStarted", setLabelAndSubmit);
    }
</script>

{% endif %}

{% endblock main3 %}
